
<div class="section-foot">
		<h3>Alejandra Avilés</h3>
		<h6><a class="mail" href="mailto:alehandra.aviles@gmail.com"><i class="fa fa-external-link"></i> alehandra.aviles@gmail.com</a></h6>
		<h6>Cajeme, Sonora, 1989. Lives and works in Barcelona.</h6>

		My work explores the conflicted but vital relationship between people and the landscape. In the harsh environment of the Sonora desert this relationship is particularly raw and exposed. During the night, when we’re at our most vulnerable, the fauna is at it’s most active. Reflecting on this scene I came to consider the bed as a domestic gesture that reflects a deeper way of thinking: the reluctance of man to recognise itself as part of nature.
</div>

<div class="section-text">
</div>
	<div class="columns">
		<h4>Education</h4>
	</div>
	<div class="columns">
			<div class="columns column-uncuarto"><h5>2014-2015</h5></div>
			<div class="columns column-trescuarto">
				<p>Educative program of SOMA Mexico.</p>
			</div>
	</div>
	<div class="columns">
			<div class="columns column-uncuarto"><h5>2012</h5></div>
			<div class="columns column-trescuarto">
				<p>Academic exchange to the University of Granada, Spain</p>
			</div>
		</div>

		<div class="columns">
			<div class="columns column-uncuarto"><h5>2008-2012</h5></div>
			<div class="columns column-trescuarto">
				<p>Fine Art degree from the University of Sonora. Specialized in sculpture.</p>
			</div>
		</div>


	<div class="columns">
		<h4>Solo exhibitions</h4>
	</div>

	<div class="columns">
			<div class="columns column-uncuarto"><h5>2015</h5></div>
			<div class="columns column-trescuarto">
				<p><em>OSCURANA.</em> Bikini Wax, Mexico City.</p>
			</div>
	</div>

	<div class="columns">
			<div class="columns column-uncuarto"><h5>2012</h5></div>
			<div class="columns column-trescuarto">
				<p><em>Paradise.</em> Curated by Alan Sierra. Trama Centro Especializado en Artes y Restauración, Guadalajara, Jalisco.</p>
			</div>
	</div>

		<div class="columns">
			<div class="columns column-uncuarto"><h5>2011</h5></div>
			<div class="columns column-trescuarto">
				<p><em>Sentido inverso.</em> Curated by Aldo Guerra. Galería Eusebio Francisco Kino, Casa de la Cultura of Hermosillo, Sonora.</p>
			</div>
		</div>

	<div class="columns">
		<h4>Selections</h4>
	</div>
	<div class="columns">
			<div class="columns column-uncuarto"><h5>2013-2015</h5></div>
			<div class="columns column-trescuarto">
				<p>Fellow by Fondo Nacional para la Cultura y las Artes, FONCA, young creators-alternative media category. With the project "Hacia la intemperie".</p>
			</div>
	</div>
	<div class="columns">
			<div class="columns column-uncuarto"><h5>2012</h5></div>
			<div class="columns column-trescuarto">
				<p>International Art Moves Workshop</p>
			</div>
	</div>
	<div class="columns">
			<div class="columns column-uncuarto"><h5>2011</h5></div>
			<div class="columns column-trescuarto">
			<p>Operador de Arte. Encounter of young creators from the northwest of Mexico. Tijuana, Baja California.</p>
			</div>
	</div>
	<div class="columns">
			<div class="columns column-uncuarto"><h5>2010-2011</h5></div>
			<div class="columns column-trescuarto">
				<p>Fellow by Fondo Estatal para la Cultura y las Artes del Estado de Sonora in young creators category with the project “Interrupción en el espacio”.</p>
			</div>
	</div>	
	<div class="columns">
			<div class="columns column-uncuarto"><h5>2011</h5></div>
			<div class="columns column-trescuarto">
				<p>Runner up in the 13th. Bienal de Artes Visuales del Noroeste.</p>
			</div>
	</div>
	<div class="columns">
			<div class="columns column-uncuarto"><h5>2010-2011</h5></div>
			<div class="columns column-trescuarto">
				<p>Selection in Fotoseptiembre photogrphy competition</p>
			</div>
	</div>
	<div class="columns">
			<div class="columns column-uncuarto"><h5>2010</h5></div>
			<div class="columns column-trescuarto">
				<p>Selection in the 12va. Bienal de Artes Visuales del Estado de Sonora.</p>
			</div>
	</div>




	<div class="columns">
		<h4>Colective exibitions</h4>
	</div>
	<div class="columns">
			<div class="columns column-uncuarto"><h5>Jun 2015</h5></div>
			<div class="columns column-trescuarto">
				<p><em>Tres pies: el enigma de la sucesión. Envejecimiento y retiro.</em> Casa del Lago de Chapultepec. México D.F.</p>
			</div>
	</div>

	<div class="columns">
			<div class="columns column-uncuarto"><h5>2015</h5></div>
			<div class="columns column-trescuarto">
				<p><em>Art Barter.</em> Salón Acme. México City.</p>
			</div>
	</div>

	<div class="columns">
			<div class="columns column-uncuarto"><h5>2014</h5></div>
			<div class="columns column-trescuarto">
				<p><em>Creación en movimiento.</em> FONCA fellow generation. Patzcuaro, Michoacán.</p>
			</div>
	</div>

	<div class="columns">
			<div class="columns column-uncuarto"><h5>2013</h5></div>
			<div class="columns column-trescuarto">
				<p><em>Proyecciones con Norte.</em> Laboratorio de Arte Alameda, Festival Luces de Invierno organized by Centro Nacional de la Imagen. México City</p>

				<p><em>División del Norte.</em> Av. División del Norte 42. México D.F.</p>
			</div>
	</div>

	<div class="columns">
			<div class="columns column-uncuarto"><h5>2012</h5></div>
			<div class="columns column-trescuarto">
				<p><em>Soy una soy mil. </em>Colegio de Sonora, Hermosillo, Sonora.</p>
				<p><em>Cuarto por cuarto.</em> Casa Haas, Mazatlán, Sinaloa.</p>
			</div>
	</div>

	<div class="columns">
			<div class="columns column-uncuarto"><h5>2011</h5></div>
			<div class="columns column-trescuarto">
				<p><em>My only regret is not be able to kill you personally.</em> Centro de las Artes. Monterrey, Nuevo León.</p>

				<p><em>¡Maldad!.</em> Centro Cultural Mariano Jimenez, San Luis Potosí.</p>
			</div>
	</div>

	<div class="columns">
			<div class="columns column-uncuarto"><h5>2010</h5></div>
			<div class="columns column-trescuarto">
				<p><em>Esta, esa, aquella.</em> Festival Alfonso Ortiz Tirado. Hermosillo, Sonora.</p>
				<p><em></em></p>
			</div>
	</div>

	<div class="columns">
	<h4>Resumen</h4>
	</div>
	<div class="columns">
			<div class="columns column-uncuarto"><h5></h5></div>
			<div class="columns column-trescuarto">
			<p>She have speciallized studies in sculpture by the University of Sonora and was part of the educative program of SOMA Mexico. Her solo exhibitions are "Oscurana" in bikini wax of Mexico City, "Paradise" in Trama of Guadalajara and "Sentido inverso" in Casa de la cultura of Hermosillo, Sonora. She was part of the International Art Moves Workshopp and she is part of Operador de Arte. In 2014 she was fellow by FONCA in alternative media category. Currently she lives and work in Barcelona.</p>
			
				<p><a href="http://somamexico.org/es/programa-educativo/alejandra-viles" target="target" ><i class="fa fa-external-link"></i> SOMA</a></p>
				<p><a href="http://www.bikiniwax.mx/alejandra-avil-s.html" target="target" ><i class="fa fa-external-link"></i> Bikini Wax</a></p>
				<p><a href="http://operadordearte.blogspot.mx/" target="target" ><i class="fa fa-external-link"></i> Operador de Arte</a></p>
				<p><a href="http://tramacentro.org/paradise/" target="target" ><i class="fa fa-external-link"></i> TRAMA</a></p>
			</div>
	</div>



 </div>


