<div class="section-title">
	<h1>Anomaly</h1>
</div>

<div class="section-ficha">
	<h6>Digital photography. Variable dimensions, 2011.</h6>
</div>

<div class="section-intro">
	<p>I was trying to elaborate a conscient, sometimes unconsient conflict point in the image. This point cames from the anomaly, that that interrupts the first contact with what we are really observating</p>
</div>

<div class="section-images">
	<img src="/imagenes/anomalia/1.jpg" />
	<img src="/imagenes/anomalia/2.jpg" />
	<img src="/imagenes/anomalia/7.jpg" />
	<img src="/imagenes/anomalia/3.jpg" />
	<img src="/imagenes/anomalia/4.jpg" />
	<img src="/imagenes/anomalia/5.jpg" />
	<img src="/imagenes/anomalia/6.jpg" />	
</div>










