<div class="section-title">
	<h1>Fake coralillo</h1>
</div>

<div class="section-ficha">
	<h6>Motley with fake coralillo pattern. Dimensions: 2.40 height.</h6>
</div>

<div class="section-intro">
	<p>For each coralillo snake there is a not poison one that imitates her. The inofensive viper use the color pattern of the real coralillo to send a false alert of danger as a protection mechanism. This phenomenon is kown as adaptative mimesis.</p>
</div>

<div class="section-images">
	<img src="/imagenes/coralillo/3.jpg" />
	<img src="/imagenes/coralillo/4.jpg" />
	<img src="/imagenes/coralillo/5.jpg" />	
</div>


<div class="section-foot">
	<h6>Fellow by Fondo Nacional para la Cultura y las Artes (FONCA).
	<br>Photography Carlos Iván Hernández.
	<br>Confection by Alejandra Dessens. Regards to Kristin Reger.
	</h6>	
</div>