<div class="section-title">
	<h1>To the outdoors</h1>
</div>

<div class="section-ficha">
	<h6>01 oct - 02 oct - Hermosillo, Sonora - 2014. Wooden platform over a tree. Dimensions: 4 x 2.40 x 2.40 m</h6>	
</div>

<div class="section-intro">
	<p>I remember the summer nights in Sonora, the heat accumulated in the rooms during the day was so intense that it was better to take the beds out of the house and spend the night outdoors. Then the domestic canon was obsolete and contradictory to the climatic conditions of the desert. Away from the city, over a tree, I built a wooden platform for have a phenomenological experience of the night.</p>
</div>

<div class="section-images">
	<img src="/imagenes/intemperie/1.jpg" />
	<img src="/imagenes/intemperie/2.jpg" />
	<img src="/imagenes/intemperie/3.jpg" />
	<img src="/imagenes/intemperie/4.jpg" />
	<img src="/imagenes/intemperie/5.jpg" />
	<img src="/imagenes/intemperie/6.jpg" />
	<img src="/imagenes/intemperie/0.jpg" />
	<h3>Serpiente de cascabel de cuernitos</h3>	
</div>

<div class="section-foot">
	<h6>Fellow by Fondo Nacional para la Cultura y las Artes (FONCA).
	<br>Photography by Carlos Iván Hernández.
	</h6>	
</div>