
<div class="section-news">
	<img src="/imagenes/noticias/casa.jpg" />
</div>

<div class="section-news">
	<img src="/imagenes/noticias/oscurana.jpg" />
</div>

<div class="section-news" >
	<h5>CUARTO DE<br>PROYECTOS</h5>
	<h5>EMPIEZA<br>DONDE<br>TERMINA</h5>

	<h1>MATABAN UNA<br>

	VACA CADA<br>

	TRES DÍAS Y<br>

	LA COMÍAN<br>

	DURANTE<br>

	TRES DÍAS,<br>

	TRES VECES<br>

	AL DÍA<br></h1>

	<h5>Proyecto que desarrolla la dicotomía entre <em>barbarie y civilización</em><br>a partir de las costumbres culinarias del centro y el norte de México.</h5>
	<p>Del 19 de abril al 02 de mayo / Revisión abierta al público el 28 de abril a las 5:30<br>SOMA / Calle 13 num. 25 Col. San Pedro de los Pinos. / México D.F. 
	</p>
</div>