<div class="section-title">
	<h1>Oscurana</h1>
</div>

<div class="section-ficha">
	<h6>Bikini Wax. Mexico City, 28 may - 18 jun - 2015.</h6>
</div>

<div class="section-intro">
		<div class="quote">
			<p> “ We came down from the mountains to the desert to flatten it by hand.<br>
			During the day there was no wind<br>
			and during the night, a darkness blacker than any other.<br>
			Then we used to put cans filled with oil under each of the legs of the beds<br>
			to drown the vermin that sought to climb them.<br>
			That’s why I like the smell of oil.”</p>
		</div>
		
		<p>In a room with humidity stands an wooden bed, supported by 4 glass jars, slightly illuminated, each containing a single vermin: a snake, a scorpion, a centipede and a tarantula. The inverted jars are open, only the weight of the bed preventing the animals from escaping. The visitor can easily free them, or at least contemplate it…</p>
</div>

<div class="section-images">
	<img src="/imagenes/oscurana/1.jpg" />
<img src="/imagenes/oscurana/2.jpg" />
<img src="/imagenes/oscurana/3.jpg" />
<h6>Glass jars, wooden base of bed, earth scorpio with offspring, snake, centipede and tarantula.. Dimensions: 140 x 50 x 195 cm.</h6>

		

<div id="main-slider-1" class="slider">
	<img src="/imagenes/oscurana/slide/4.jpg" />
	<img src="/imagenes/oscurana/slide/1.jpg" />
	<img src="/imagenes/oscurana/slide/2.jpg" />
	<img src="/imagenes/oscurana/slide/3.jpg" />	
	<img src="/imagenes/oscurana/slide/5.jpg" />
	<img src="/imagenes/oscurana/slide/6.jpg" />
	<img src="/imagenes/oscurana/slide/7.jpg" />
	<img src="/imagenes/oscurana/slide/8.jpg" />
	<img src="/imagenes/oscurana/slide/9.jpg" />
	<img src="/imagenes/oscurana/slide/10.jpg" />
	<img src="/imagenes/oscurana/slide/11.jpg" />
	<img src="/imagenes/oscurana/slide/12.jpg" />
	<img src="/imagenes/oscurana/slide/13.jpg" />
	<img src="/imagenes/oscurana/slide/14.jpg" />
	<img src="/imagenes/oscurana/slide/15.jpg" />
	<img src="/imagenes/oscurana/slide/16.jpg" />
	<img src="/imagenes/oscurana/slide/17.jpg" />
	<img src="/imagenes/oscurana/slide/18.jpg" />
	<img src="/imagenes/oscurana/slide/19.jpg" />
	<img src="/imagenes/oscurana/slide/20.jpg" />
	<img src="/imagenes/oscurana/slide/21.jpg" />
	<img src="/imagenes/oscurana/slide/22.jpg" />
	<img src="/imagenes/oscurana/slide/24.jpg" />
	<img src="/imagenes/oscurana/slide/23.jpg" />
</div>
<div class="slider-controls" data-slider="main-slider-1">
	<a data-slider-action="previous">&#9664;</a>
	<span data-slider-index data-slider="main-slider-1"></span><h5>de 24 - Scorpio with offspring, snake, centipede and tarantula.</h5>
	<a data-slider-action="next">&#9654;</a>
</div>

	<img src="/imagenes/oscurana/14.jpg" />
	<h6>Photography in wood, unkown author. Dimensions: 22 x 28 x 3cm. 2015.</h6>

	<img src="/imagenes/oscurana/6.jpg" />
	<h6>Coca-cola with foild paper to polarized window. Dimensions 120 x 140 cm. 2015.</h6>

	
	<img src="/imagenes/oscurana/77.jpg" />
	<h6>Embroidered blanket. Dimensions: 117 x 154 cm. 2015.</h6>

	<img src="/imagenes/oscurana/11.jpg" />
	<img src="/imagenes/oscurana/12.jpg" />
	<h6>Tomato branches on previous holes of the wall. Vairable dimensions. 2015.</h6>

	<img src="/imagenes/oscurana/13.jpg" />
	<img src="/imagenes/oscurana/8.jpg" />
	<img src="/imagenes/oscurana/vista.jpg" />
	<img src="/imagenes/oscurana/15.jpg" />	
</div>

<div class="section-foot">
	<h6><a href="http://www.bikiniwax.mx/alejandra-avil-s.html" target="target" ><i class="fa fa-external-link"></i> bikiniwax.mx</a></h6>
	<h6><a href="http://gastv.mx/opinion-oscurana-lo-animal-y-lo-humano/" target="target" ><i class="fa fa-external-link"></i> Oscurana, lo animal y lo humano. Opinion by Sandra Sánchez. GASTV. June 2015.</a></h6>
	<h6><a href="http://proceso100.tumblr.com/post/120329554819/resena-oscurana-exposicion-de-alejandra-aviles" target="target" ><i class="fa fa-external-link"></i> Oscurana. Review by Manuel Guerrero. Proceso 100. May 31 2015.</a></h6>
	<h6>Fellow by Fondo Nacional para la Cultura y las Artes.
	<br>Images courtesy of Bikini Wax. Photography Ramiro Chaves.
	</h6>	
</div>

