<div class="section-title">
	<h1>Inverse side</h1>	
</div>

<div class="section-ficha">
	<h6>Inverted canvas. Dimensions: 3 x 2.50 x 1 m. Casa de la Cultura, Hmo. Sonora, 2011.</h6>
</div>

<div class="section-images">
	<img src="/imagenes/sentido/1.jpg" />	
</div>

<div class="section-foot">
	<h6>Fellow by Fondo Estatal para la Cultura y las Artes del Estado de Sonora (FECAS).</h6>	
</div>
