<div class="section-title">
	<h1>Signo</h1>
</div>

<div class="section-ficha">
	<h6>Cilindro de carrizo. Medidas: 4m de largo 60cm de diámetro. Sonora, Hmo. 2014.</h6>
</div>

<div class="section-images">
	<img src="/imagenes/signo/1.jpg" />	
</div>

<div class="section-foot">
	<h6>Proyecto apoyado por Fondo Nacional para la Cultura y las Artes (FONCA).
	<br>Registro Carlos Iván Hernández.
	</h6>	
</div>