h1 {
	font-size: 4em;
	line-height: 1.3em;
	font-weight: 600;
}

h2 {
	font-weight: 600;
	font-size: 2em;
	line-height: 1.3em;
	letter-spacing: 1px;
}

h3 {
}

h4 {
	font-size: 1.1em;
}

h5 {
	font-size: 1.2em;
	letter-spacing: 1px;
}

h6 {
	font-size: 0.9em;
	font-weight: 400;
	letter-spacing: 1.2px;
	line-height: 15px;
}


p {
	font-weight: 400;
	font-size: 1.2em;
	letter-spacing: 1px;
	padding-bottom: 20px;
}



em {
	font-style: italic;
}

img + h6 {
	padding-bottom: 50px;
}



span {
	font-size: 0.8em;
	height: 3em;

}


