h1 {
	font-size: 1em;
	font-weight: 600;
}

h2 {
	font-weight: 700;
	font-size: 1.5em;
	line-height: 1.3em;
}

h3 {

}

h4 {
	font-size: 1.1em;
	letter-spacing: 1px;
}

h5 {

}

h6 {
	font-size: 1em;
	letter-spacing: 0.3px;
	line-height: 25px;
}


p {
	font-size: 1.3em;
	letter-spacing: 0.6px;
	padding-top: 10px;
	padding-bottom: 20px;
	line-height: 30px;

}



em {
	font-style: italic;
}

img + h6 {
	padding-bottom: 50px;
}



span {
	font-size: 0.8em;
	height: 3em;

}


