* {
	box-sizing: border-box;
}

html {
	background: white;
}

body {
	font-family: "arial";
	width: 100%;
	color: black;
	::selection { background-color:#ffe000;}
}

.main {
	width: 100%;
	padding-top: 65px;
	padding-bottom: 400px;
	padding-left: 30px;
	padding-right: 180px;
}

.container {
	@include group;
	margin-right: auto;
	margin-left: auto;
}

img {
	width: 100%;
	display: block;
	padding-bottom: 5px;
	padding-left: 5px;
}

a {
	color: black;
	cursor: pointer;
}

a:hover {

}

body.work {
	#work {
		border-bottom: 5px solid #005aff;
		color: #005aff;
	}
}
body.about {
	#about {
		border-bottom: 5px solid red;
		color: red;
	}
}
body.text {
	#text {
		border-bottom: 5px solid #f38eff;
		color: #f38eff;
	}
}


