#main { width: 100%; }

.container {
	padding-left:280px;
	padding-right: 100px;
	padding-top: 100px;
	@include group;
	// background-color: rgb(242,242,242);
}

#sidebar {
	@include group;
	z-index: 1000;
	position: fixed;
	width: 200px;
	text-align: right;
	border-right: 1px solid rgb(223,223,223);
	overflow-y: auto;
	padding-right: 35px;
	height: 100vh;
}

.proyect-nav {

	text-align: right;

	li {
		font-size: 0.8em;
		font-weight: 400;
		letter-spacing: 0.4px;
		line-height: 17px;

	}

	h5 {
		font-size: 0.7em;
		color: black;
		letter-spacing: 1px;
		padding-top: 20px;
		padding-bottom: 3px;
		font-weight: 500;
		font-family: "georgia";
		text-transform: uppercase;
		font-style: italic;
	}

	a {
		color: rgb(81,81,81);
	}

	a:hover {
		color: black;
		background-color: rgb(242,242,242);
		
	}
}

.intro {
	padding-top:30px;
	line-height: 17px;
	font-family: "georgia";
	
	h5 {
		font-size: 1em;
		font-weight: 100;
		line-height: 1.5em;
		text-transform: none;
		padding-bottom: 0;
	}

	h6 {
		font-size: 0.7em;
		padding-top: 2px;
	}


	a {
		color: black;
	}

	a:hover {
		color: black;
		background-color: rgb(242,242,242);
		
	}

	.logo {

		a:hover {
		text-decoration: none;	
		}
	
	}
}




