

* {
	box-sizing: border-box;
}

html {
	background: white;
}

body {
	font-family: "acumin-pro";
	margin-bottom: 100px;
	padding-left: 100px;
	padding-right: 100px;
	width: 100%;
	color: black;
	::selection { background-color:#FFD5D5; color: #2D44E4;}
}

.main {
	width: 100%;
}

.container {
	@include group;
	width: 800px;
	margin-right: auto;
	margin-top: 40px;
}

img {
	width: 100%;
	display: block;
	padding-right: 5px;
	padding-bottom: 5px;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: blue;
}

a:hover {
	cursor: pointer;
}

body.-projects {
	.nav-bar {
		.projects {
			color: blue;
		}
	}
}
body.-cv {
	.nav-bar {
		.cv {
			color: blue;
		}
	}
}