<div class="cv">
	<div class="section-title">
		<h2>C.V.</h2>
		<h5>Cajeme, Sonora, Mx. 1989<br>Reside y trabaja en Barcelona.</h5>
	</div>

	<div class="sub-section">
		<div class="columns">
			<div class="col col-3"><h4>Formación</h4></div>
			<div class="col col-9"></div>
		</div>
		<div class="columns">
				<div class="col col-3"><h5>2014-2015</h5></div>
				<div class="col col-9">
					<p>Programa Educativo SOMA.</p>
				</div>
		</div>
		<div class="columns">
			<div class="col col-3"><h5>2012</h5></div>
			<div class="col col-9">
				<p>Intercambio académico en la Facultad de Bellas Artes de la Universidad de Granada, España.</p>
			</div>
		</div>
		<div class="columns">
			<div class="col col-3"><h5>2008-2012</h5></div>
			<div class="col col-9">
				<p>Licenciatura en Artes Plásticas por la Universidad de Sonora. Específico de escultura.</p>
			</div>
		</div>
	</div>


	<div class="sub-section">
		<h4>Exposiciones Individuales</h4>
		<div class="columns">
			<div class="col col-3"><h5>28 may - 18 jun 2015</h5></div>
			<div class="col col-9">
				<p><em>OSCURANA.</em> Bikini Wax, México D.F.</p>
			</div>
		</div>
		<div class="columns">
			<div class="col col-3"><h5>6 sep - 22 sep 2012</h5></div>
			<div class="col col-9">
				<p><em>Paradise.</em> Curaduría Alán Sierra. Trama Centro Especializado en Artes y Restauración, Guadalajara, Jalisco.</p>
			</div>
		</div>
		<div class="columns">
			<div class="col col-3"><h5>3 nov - 31 dic 2011</h5></div>
			<div class="col col-9">
				<p><em>Sentido inverso.</em> Curaduría Aldo Guerra. Galería Eusebio Francisco Kino, Casa de la Cultura de Hermosillo, Sonora.</p>
			</div>
		</div>
	</div>

	<div class="sub-section">
	<h4>Selecciones y distinciones</h4>
		<div class="columns">
				<div class="columns col col-3"><h5>2013-2015</h5></div>
				<div class="columns col col-9">
					<p>Becaria del Fondo Nacional para la Cultura y las Artes, Jóvenes Creadores, Categoría Medios Alternativos, con el proyecto de instalación “Hacia la intemperie”.</p>
				</div>
		</div>
		<div class="columns">
				<div class="col col-3"><h5>2012</h5></div>
				<div class="col col-9">
					<p>International Art Moves Workshop</p>
				</div>
		</div>
		<div class="columns">
				<div class="col col-3"><h5>2011</h5></div>
				<div class="col col-9">
				<p>Operador de Arte. Taller de producción, encuentros y asesorías en Tijuana, Baja California.</p>
				</div>
		</div>
		<div class="columns">
				<div class="col col-3"><h5>2010-2011</h5></div>
				<div class="col col-9">
					<p>Becaria del Fondo Estatal para la Cultura y las Artes del Estado de Sonora en la categoría de Jóvenes Creadores, con el proyecto “Interrupción en el espacio”.</p>
				</div>
		</div>	
		<div class="columns">
				<div class="col col-3"><h5>2011</h5></div>
				<div class="col col-9">
					<p>Mención honorífica en la 13va. Bienal de Artes Visuales del Noroeste.</p>
				</div>
		</div>
		<div class="columns">
				<div class="col col-3"><h5>2010-2011</h5></div>
				<div class="col col-9">
					<p>Selección en el concurso Estatal de Fotografía Creativa, Fotoseptiembre.</p>
				</div>
		</div>
		<div class="columns">
				<div class="col col-3"><h5>2010</h5></div>
				<div class="col col-9">
					<p>12va. Bienal de Artes Visuales del Estado de Sonora.</p>
				</div>
		</div>
	</div>

	<div class="sub-section">
	<h4>Exposiciones Colectivas </h4>
		<div class="columns">
				<div class="columns col col-3"><h5>2015</h5></div>
				<div class="columns col col-9">
					<p><em>Tres pies: el enigma de la sucesión. Envejecimiento y retiro.</em> Curaduría por Felipe Zuñiga y Carlos Palacios. Casa del Lago Chapultepec. México D.F.</p>
					<p><em>Art Barter.</em> Curaduría por Lauren Jones, Alix Janta y Laureana Toledo. Salón Acme. México D.F.</p>
				</div>
		</div>
		<div class="columns">
				<div class="columns col col-3"><h5>2014</h5></div>
				<div class="columns col col-9">
					<p><em>Creación en movimiento.</em> Centro Cultural Aniguo Colegio Jesuita. Patzcuaro, Michoacán.</p>
					<p><em>Acá.</em> El rastro. Hermosillo, Sonora.</p>
					<p><em>Mordidas cataclísmicas</em> Av. Nayarit. México D.F.</p>
				</div>
		</div>

		<div class="columns">
				<div class="columns col col-3"><h5>2013</h5></div>
				<div class="columns col col-9">
					<p><em>Proyecciones con Norte.</em> Laboratorio de Arte Alameda, Festival Luces de Invierno organizado por el Centro Nacional de la Imagen. México D.F.</p>
					<p><em>Márgenes del cuerpo.</em> Anatema Proyecto Curatorial. Guadalajara, Jalisco.</p>
					<p><em>División del Norte.</em> Av. División del Norte 42. México D.F.</p>
				</div>
		</div>

		<div class="columns">
				<div class="columns col col-3"><h5>2012</h5></div>
				<div class="columns col col-9">
					<p><em>Soy una soy mil. </em>Colegio de Sonora, Hermosillo, Sonora.</p>
					<p><em>Cuarto por cuarto.</em> Casa Haas, Mazatlán, Sinaloa.</p>
				</div>
		</div>

		<div class="columns">
				<div class="columns col col-3"><h5>2011</h5></div>
				<div class="columns col col-9">
					<p><em>My only regret is not be able to kill you personally.</em> Centro de las Artes. Monterrey, Nuevo León.</p>
					<p><em>¡Maldad!.</em> Centro Cultural Mariano Jimenez, San Luis Potosí.</p>
				</div>
		</div>

		<div class="columns">
				<div class="columns col col-3"><h5>2010</h5></div>
				<div class="columns col col-9">
					<p><em>Esta, esa, aquella.</em> Festival Alfonso Ortiz Tirado. Hermosillo, Sonora.</p>
					<p><em></em></p>
				</div>
		</div>
	</div>

<!-- 	<div class="sub-section">
	<h4>Resumen</h4>
		<div class="columns">
				<div class="columns col col-3"><h5></h5></div>
				<div class="columns col col-9">
					<p>Cuenta con estudios especializados en escultura por la Universidad de Sonora y formó parte del Programa Educativo de SOMA. Ha expuesto individualmente Oscurana en Bikini Wax de la Ciudad de México, PARADISE en TRAMA de Guadalajara Jalisco y Sentido inverso en Casa de la Cultura de Hermosillo, Sonora. Fue becaria del FONCA-2014 y del FECAS-2011. Actualmente desarrolla el proyecto de instalación "Hacia la intemperie".</p>
				</div>
		</div>
	</div> -->

</div>



