<div class="section-title">
	<h1>Hacia la intemperie</h1>
</div>

<div class="section-ficha">
	<h6>Plataforma sobre árbol de palo verde. Medidas: 4m de altura 2.40 x 2.40 base. Sonora 01 oct - 02 oct - 2014.</h6>	
</div>

<div class="section-intro">
	<p>Recuerdo las noches de verano en Sonora, el calor que se llegaba a acumular en los cuartos durante el día era tan intenso, que resultaba mejor sacar las camas de la casa y pasar la noche a la intemperie. Esta plataforma fue construída para pasar la noche sobre ella.</p>
</div>

<div class="section-images">
	<img src="/imagenes/intemperie/1.jpg" />
	<img src="/imagenes/intemperie/2.jpg" />
	<img src="/imagenes/intemperie/3.jpg" />
	<img src="/imagenes/intemperie/4.jpg" />
	<img src="/imagenes/intemperie/5.jpg" />
	<img src="/imagenes/intemperie/6.jpg" />
	<img src="/imagenes/intemperie/0.jpg" />
	<h3>Sidewinder</h3>	
</div>

<div class="section-foot">
	<h6>Proyecto apoyado por Fondo Nacional para la Cultura y las Artes (FONCA).
	<br>Registro Carlos Iván Hernández.
	</h6>	
</div>