<div class="section-title">
	<h1>Noticias</h1>
</div>

		<div class="date"><h6>Febrero 2016</h6></div>
	<div class="columns news">
		<div class="col col-3">
		<a target="maf" href="http://material-fair.com/"><img src="/imagenes/noticias/maf.jpg" /></a>
		</div>
		<div class="col col-9">
			<h2>Material Art Fair Vol.III</h2>
			<h3>Expo Reforma.<br>Calle Morelos 67. Col. Juárez, Ciudad de México, D.F.<br>4 al 7 de Febrero 2016</h3>
			<h4>Espacio expositor Bikini Wax</h4>
		</div>
	</div>
	<div class="columns news">
		<div class="col col-3">
			<a target="acme" href="https://www.facebook.com/SalonAcme/photos/pb.475817202454845.-2207520000.1453976568./972225199480707/?type=3&theater"><img src="/imagenes/noticias/salon-acme.jpg" /></a>
		</div>
		<div class="col col-9">
			<h2>Salón Acme</h2>

			<h3>Rafael Rebollar 95, Colonia San Miguel Chapultepec México, D.F.<br>Del 4 al 7 de febrero 2016</h3>
			<h4>Artistas: Juan Carlos Coppel, Alfredo Káram, Carlos Iván Hernández, Tino Varela, Pablo hurtado, David Vera Ibarra, Miriam Salado, Alejandra Avilés, Ethel Cooke, Paula Martins, Nahatan Navarro, Jimena Camou, Javier Ramirez Limón, Alejandra Dessens, Oliver Yocupicio, Griselda Benavides, Miguel Fernández de Castro.</h4>
			<h4>Propuesta curatorial Carmen Cebreros</h4>
			<h4>Estado invitado Sonora</h4>
		</div>
	</div>

<div class="date"><h6>Junio 2015</h6></div>
	<div class="columns news">
		<div class="col col-3">
			<a target="casadellago" href="http://www.casadellago.unam.mx/sitio/index.php/2015/139-enigma"><img src="/imagenes/noticias/casa.jpg" /></a>
		</div>
		<div class="col col-9">
			<h2>Tres pies: el enigma de la sucesión.<br>Envejecimiento y retiro.</h2>
			<h3>Casa del Lago<br>Sábado 20 de junio del 2015, 13:00hr</h3>
			<h4>Artistas: Alejandra Avilés, Gabriel Boils, Virginia Colwell, Rodolfo Díaz Cervantes, Miguel Fernández de Castro, Helena Fernández Cavada, Renato Garza, Sonia Hedstrand, gonzalo Lebrija, Gabriel de la Mora, Victor Lerma y Mónica Mayer, Carla Rippey y Lin Sepúlveda.</h4>
			<h4>Curaduría: Victor Palacios y Felipe Zuñiga</h4>
		</div>
	</div>
	<div class="columns news">
		<div class="col col-3">
			<img src="/imagenes/noticias/oscurana.jpg" />
		</div>
		<div class="col col-9">
			<h2>Oscurana</h2>
			<h3>Bikini Wax, Benjamin Franklin 20-2, México D.F. <br>Del 30 de mayo al 19 de junio del 2015</h3>
			<h4>Exposición individual</h4>
		</div>
	</div>

<div class="date"><h6>Febrero 2015</h6></div>

<div class="columns news">
	<div class="col col-3">
		<a target="artbarter" href="http://www.artbarterlondon.co.uk/news.html"><img src="/imagenes/noticias/art-barter.png" /></a>
	</div>
	<div class="col col-9">
		<h2>Art Barter</h2>
		<h3>Rafael Rebollar 95, Colonia San Miguel Chapultepec México, D.F.<br>Del 19 al 22 de febrero del 2015</h3>
		<h4>Daniel Aguilar Ruvalcaba, Nina Amber, Ivy Armour, Alejandra Aviles, Balam Bartolomé, Camille Pound, Daniela Bojórquez Vértiz, Tania Candiani, Dulche Chacón, Jose Dávila, Dr Lakra, Gabriel Escalante, Claudia Fernández, Verónica Gerber Bicecci, Arturo Hernández, Graciela Iturbide, Joshua Jobb, Susana Laborde, Gonzalo Lebrija, JMC, Edgar Orlaineta, Raúl Ortega Ayala, Manuel Rocha Iturbide, María José Sesma, Tercerunquinto, Francisco Toledo, Laureana Toledo, Israel Urmeer, Pamela Zeferino </h4>
		<h4>Curaduría: Alteria Art y Laureana Toledo</h4>
	</div>
</div>