<div class="section-title">
	<h1>Otra luna</h1>
</div>

<div class="section-ficha">
	<h6>Estructura con iluminación artificial. Medidas: 2.50 diámetro. Kino, Sonora, 2014.</h6>
</div>

<div class="section-intro">
	<p>Es una estructura de luz artificial creada con el fin de atraer los insectos que habitan el monte. Los insectos utilizan la luna para su orientación y desplazamiento, la luz emitida por los focos los confunde con respecto a la verdadera luz del astro.</p>	
</div>

<div class="section-images">
	<iframe width="100%" height="420" src="https://www.youtube.com/embed/rupvvro9oJI?rel=0&showinfo=0&autohide=1&autoplay=1" frameborder="0" allowfullscreen></iframe>

	<img src="/imagenes/falsaluna/5.jpg" />
	<img src="/imagenes/falsaluna/4.png" />
	<img src="/imagenes/falsaluna/1.png" />	
</div>

<div class="section-foot">
	<h6>Proyecto apoyado por Fondo Nacional para la Cultura y las Artes (FONCA).
	<br>Registro Carlos Iván Hernández.
	</h6>	
</div>