<div class="section-text">
	<p>Mi trabajo se desarrolla a partir de narrativas que contrastan distintas formas de asentamiento humano en el Desierto de Sonora, ubicado al noroeste de México. Tomo como punto de partida la llegada de mi familia a las planicies atraídos por el apogeo agrícola a mediados del Siglo XX. He retomado historias de esta generación y los matices que surgen en la idea de dominación.</p>

	<p>Estoy interesada en explorar la subjetividad en el concepto de <em>naturaleza</em> a partir de los vínculos que se forman al habitar un ecosistema. Es así que por medio de instalaciones, materiales y dibujos busco desdoblar el espacio desértico en otros contextos.</p>
</div>