<article>
	<header><h1>Anomaly</h1></header>
	<section>
		<img src="/imagenes/with-the-same-eyes/7.jpg" />
		<caption><h6><b>Jugular.</b> Digital photography. Variable Dimensions. 2009.</h6></caption>
	</section>
	<section>
		<img src="/imagenes/with-the-same-eyes/1.jpg" />
		<img src="/imagenes/with-the-same-eyes/2.jpg" />
		<caption><h6><b>Oviachic.</b> Digital photography. Variable Dimensions. 2010.</h6></caption>
	</section>
	<section>
		<img src="/imagenes/anomaly/cercanos.jpg" />
		<caption><h6><b>Close and indifferent.</b> Digital photography to Salo of Pier Paolo Pasolini. Variable Dimensions. 2010.</h6></caption>
	</section>
	<div class="credit">
		<h6>Supported by FECAS</h6>	
	</div>
</article>