<article>
	<header><h1>Blood to irritation</h1></header>
	<img src="/imagenes/blood-to-irritation/1.jpg" />
	<img src="/imagenes/blood-to-irritation/2.jpg" />
	<caption><h6><b>Blood to irritation.</b> Digital photography. Variable Dimensions. 2011.</h6></caption>
	<div class="credit">
		<h6>Supported by FECAS</h6>	
	</div>
</article>