<div class="cv">
<section>
</section>

	<section>
	<div class="columns">
		<div class="col col-3">
			<h6>_</h6>
		</div>
		<div class="col col-9">
			<h5>Alejandra Avilés</h5>
			<h5>Cajeme, MX. 1989</h5>
			<p>Currently resident of <a href="https://hangar.org/en/residents/artistes-residents/">Hangar</a> Barcelona</p>
		</div>
	</div>
	</section>
	<section>
		<div class="columns">
			<div class="col col-3">
				<h6>_</h6>
				<h6>jan 2014 - jun 2015</h6>
				<h6>jan - may 2012</h6>
				<h6>2008 - 2012</h6>
			</div>
			<div class="col col-9">
				<h5>Education</h5>
				<p>Educative Program of SOMA Mexico.</p>
				<p>Academic exchange to Fine Arts University of Granada, Spain.</p>
				<p>Fine Art degree in sculpture by the University of Sonora, Mexico.</p>
			</div>
		</div>
	</section>
	<section>
		<div class="columns">
			<div class="col col-3">
				<h6>_</h6>
				<h6>may 28 - jun 18, 2015</h6>
				<h6>sep 6 - sep 22, 2012</h6>
				<h6>nov 3 - dic 31, 2011</h6>
			</div>
			<div class="col col-9">
				<h5>Solo exhibitions</h5>
				<p>Oscurana. Bikini Wax in Mexico City.</p>
				<p>Paradise. curated by Alán Sierra. TRAMA in Guadalajara, Mexico.</p>
				<p>Sentido Inverso. curated by Aldo Guerra. House of Culture of Hermosillo, Mexico.</p>
			</div>
		</div>
	</section>
	<section>
		<div class="columns">
			<div class="col col-3">
				<h6>_</h6>
				<h6>2016</h6>
				<h6>2013 - 2014</h6>
				<h6>.</h6>
				<h6>2012</h6>
				<h6>2011</h6>
				<h6>.</h6>
				<h6>2010 - 2011</h6>
				<h6>.</h6>
			</div>
			<div class="col col-9">
				<h5>Selections</h5>
				<p>Resident of Hangar Center of production for Visual Arts, Barcelona, Spain.</p>
				<p>Fondo Nacional para la Cultura y las Artes (FONCA). Alternative Media Category.</p>
				<p>Proyecciones con norte. Laboratorio de Arte Alameda and National Center of the Image.</p>
				<p>IAM, International Art Moves. University of Granada, Spain.</p>
				<p>“Operador de Arte”. Encounter for emerging artist of the Northwest of Mexico.</p>
				<p>Honorific mention on the 13th Biennial of the Northwest of Mexico.</p>
				<p>Fondo Estatal para la Cultura y las Artes de Sonora (FECAS). Visual Arts Category.</p>
				<p>8th Biennal of Visual Arts of the State of Sonora.</p>
			</div>
		</div>
	</section>
	<section>
		<div class="columns">
			<div class="col col-3">
				<h6>_</h6>
				<h6>2016</h6>
				<h6>.</h6>
				<h6>2015</h6>
				<h6>.</h6>
				<h6>2014</h6>
				<h6>.</h6>
				<h6>.</h6>
				<h6>2013</h6>
				<h6>.</h6>
				<h6>2012</h6>
				<h6>.</h6>
				<h6>2011</h6>
				<h6>.</h6>
				<h6>2010</h6>
				<h6>2009</h6>
			</div>
			<div class="col col-9">
				<h5>Collective exhibitions</h5>
				<p>Material Art Fair Mexico City 2016.</p>
				<p>Salon Acme No.4. Invited state Sonora. Curated by Carmen Cebreros. Mexico City.</p>
				<p>Tres pies el enigma de la sucesión. Curated by Victor Palacios and Felipe Zuñiga. Casa del lago de Chapultepec, Mexico City.</p>
				<p>Art Barter Mexico.</p>
				<p>Creación en Movimiento. FONCA program 2014, Pátzcuaro, Mexico.</p>
				<p>Acá. El Rastro, Hermosillo, Mexico.</p>
				<p>Mordidas Cataclísmicas. Nayarit Avenue Roma Mexico City.</p>
				<p>División del Norte. Number 42 División del Norte Avenue, Mexico City.</p>
				<p>Márgenes del cuerpo. Anatema Curatorial Project. Guadalajara, Mexico.</p>
				<p>Soy una y soy mil. Sonora College, Hermosillo, Mexico.</p>
				<p>Cuarto por Cuarto. Haas House, Mazatlán, Mexico.</p>
				<p>My only regret is not be able to kill you personally. House of Culture, Monterrey, Mexico.</p>
				<p>¡Maldad!. Centro Cultural Mariano Jimenez. San Luis Potosí, Mexico.</p>
				<p>Esta esa aquella. Alfonso Tirado Festival, Álamos, Sonora.</p>
				<p></p>
			</div>
		</div>
	</section>
	<section>
		<div class="columns">
			<div class="col col-3">
				<h6>_</h6>
				<h6>Nov 2015</h6>
				<h6>Jun 2015</h6>
				<h6>Nov 2011</h6>
			</div>
			<div class="col col-9">
				<h5>Publications</h5>
				<p>Harper’s Bazaar Art Mexico. Print edition p68-69.</p>
				<p>Gastv Mexico. Online magazine.</p>
				<p>Arte al día Mexico. Print edition p10.</p>
			</div>
		</div>
	</section>
	<section>
		<div class="columns">
			<div class="col col-3">
				<h6>_</h6>
			</div>
			<div class="col col-9">
				<h5>Related links</h5>
				<a href="https://hangar.org/en/residents/artistes-residents"><p>Hangar</p></a>
				<a href="http://www.bikiniwax.mx/alejandra-avil-s.html"><p>Bikini Wax</p></a>
				<a href="http://somamexico.org/es/programa-educativo/alejandra-viles"><p>Soma Mexico</p></a>
				<a href="http://operadordearte.blogspot.mx/p/artistas.html"><p>Operador de Arte</p></a>
				<a href="http://tramacentro.org/paradise/"><p>Trama</p></a>
			</div>
		</div>
	</section>
</div>