<article>
	<header>
		<h1>Fake coralillo</h1>
	</header>
	<div class="intro-text">
		<p>For each poisonous coral snake there is a benign imitator. This is known as “adaptive mimesis”, each imitator uses their distinctive color pattern to send a false signal of danger.</p>
	</div>
	<div class="columns">
		<div class="col col-6">
			<img src="/imagenes/fake-coralillo/web/3-fake-coralillo.jpg" />
		</div>
		<div class="col col-6">
			<img src="/imagenes/fake-coralillo/web/4-fake-coralillo.jpg" />
			<caption><h6><b>Fake coralillo. </b>Suit. Dimensions: 210cm large. 2014.</h6></caption>
		</div>
	</div>
	<div class="credit">
		<h6>Photography Carlos Iván Hernández</h6>
		<h6>Confection Alejandra Dessens</h6>	
		<h6>Suppored by FONCA.</h6>
	</div>
</article>
