<article>
	<header><h1>Hacia la intemperie</h1><h2>(To the Wildness)</h2></header>
	<div class="intro-text">
		<p>Peter Sloterdijk said <em>“that concept of civilization have as a premiss the
		one of antigravity”</em>. We must agree then, that the concept of earth is a big
		tension for us. We build aircraft, spacecraft, higher buildings, the higher
		the better. We build the beds where we sleep and the tables where we eat
		away from the floor, we even use cutlery to not touch our food. I'm
		intrigued by the meanings of earth. This platform was built to spend one night on the field protected by the height.</p>
	</div>
		<img src="/imagenes/hacia-la-intemperie/web/3-hacia-la-intemperie.jpg" />
		<caption><h6><b>Hacia la intemperie (To the Wildness).</b> Dimensions: 400 x 240 x 240cm. 2014. Photography Carlos Iván Hernández.</h6></caption>
		<section>
			<dic class="text-center">
				<p>I remember the summer nights. The heat that accumulated in the rooms during the day was so intense<br>that it was better to take the beds out of the house and spend the night outdoors.</p>
			</div>
		</section>
	<section>
		<img src="/imagenes/hacia-la-intemperie/sidewinder.jpg" />
		<div class="text-center">
			<p>Just before I get up to the platform, a <em>sidewinder</em> appear in the field. This specimen of rattle snake is very emblematic of the zone for her particular way of displacement. With an invasive noise and a stunning horizontal waving she remember me how strange nature is and how much I fear it.</p>
		</div>
	</section>
	<section>
		<div class="columns">
			<div class="col col-6">
				<img src="/imagenes/hacia-la-intemperie/web/6-hacia-la-intemperie.jpg" />
				<img src="/imagenes/hacia-la-intemperie/web/9-hacia-la-intemperie.jpg" />
				<h6>4:50 am moon sunset.</h6>
			</div>
			<div class="col col-6">
				<img src="/imagenes/hacia-la-intemperie/web/1-hacia-la-intemperie.jpg" />
				<img src="/imagenes/hacia-la-intemperie/web/2-hacia-la-intemperie.jpg" />
				<h6>12pm</h6>
			</div>
		</div>
		<img src="/imagenes/hacia-la-intemperie/web/5-hacia-la-intemperie.jpg" />
		<caption><h6><b>Hacia la intemperie (To the Wildness).</b> Dimensions: 400 x 240 x 240cm. 2014. Photography Carlos Iván Hernández.</h6></caption>
	</section>
	<section>
	<header><h2>*</h2></header>
	<img src="/imagenes/hacia-la-intemperie/web/16.jpg" />
		<div class="text-center">
			<p>Because I was needing 4m height bars for the legs, I asked for wood from Chihuahua, the nearest state with some of that length. This remember me a note in the description of Sonora written in 1756 by franciscans. They mention the extreme difficulties they had to face in order to make any construction because in Sonora there was no wooden trees like in Germany. The only trees you can find here where more or less like "bug bushes" and wouldn't exeed 4 m height.</p>
		</div>
	</section>
	<div class="columns">
		<div class="col col-6">
			<img src="/imagenes/hacia-la-intemperie/web/13.jpg" />
			<img src="/imagenes/hacia-la-intemperie/web/25.jpg" />
			<img src="/imagenes/hacia-la-intemperie/web/23.jpg" />
			<img src="/imagenes/hacia-la-intemperie/web/20.jpg" />
		</div>
		<div class="col col-6">
			<img src="/imagenes/hacia-la-intemperie/web/21.jpg" />
			<img src="/imagenes/hacia-la-intemperie/web/12.jpg" />
			<img src="/imagenes/hacia-la-intemperie/web/17.jpg" />
			<img src="/imagenes/hacia-la-intemperie/web/19.jpg" />
		</div>
	</div>
	<div class="credit">
		<h6>Suppored by FONCA.</h6>
	</div>
</article>
