<article>
	<header><h1>Offspring</h1></header>
	<div class="intro-text">
		<p>This coat have a white volume hidden in the interior of the back side. I was inspired by the scoprion that sorprise us giving offspring inside of the installation of <a href="/-oscurana">oscurana</a>. I wear the coat as an item of clothing.</p>
	</div>
	<div class="columns">
		<div class="col col-6">
			<img src="/imagenes/offspring/web/7-offspring.jpg" />	
			<caption><h6><b>Offspring.</b> Down, polyester and cotton. 60 x 80 x 15 cm. 2016</h6></caption>
		</div>
		<div class="col col-6">
			<img src="/imagenes/offspring/web/4-offspring.jpg" />	
		</div>
	</div>
	<div class="columns">
		<div class="col col-4">
			<img src="/imagenes/offspring/web/1-offspring.jpg" />	
		</div>
		<div class="col col-4">
			<img src="/imagenes/offspring/web/3-offspring.jpg" />
		</div>
		<div class="col col-4">
			<img src="/imagenes/offspring/web/2-offspring.jpg" />
		</div>
		<caption><h6><b>Offspring.</b> Down, polyester and cotton. 60 x 80 x 15 cm. 2016</h6></caption>
	</div>
</article>