<article>
	<header><h1>Organs</h1></header>
	<div class="columns">
		<div class="col col-6">
			<img src="/imagenes/organs/web/1-organs.jpg" />
		</div>
		<div class="col col-6">
			<img src="/imagenes/organs/web/2-organs.jpg" />	
		</div>
		<h6><b>Organs.</b> Photography on wood of unknown author. Dimensions: 22 x 28 x 3cm. 2015.</h6>
	</div>
	<div class="credit">
		<h6>Photography Ramiro Chavez.</h6>
		<h6>Oscurana Bikini Wax Mexico City 2015.</h6>
	</div>
</article>

