<article>
	<header>
		<h1>Oscurana</h1><!-- <h2>That's why I like the smell of oil</h2> -->
		<h5>Bikini Wax Mexico City<br>28 may - 18 jun 2015</h5>
	</header>
	<section>
		<div class="intro-text">
			<p>
			“We arrive from the mountains to the desert to flatten it by hand.<br>
			During the day there was no wind and during the night,
			<br>a darkness blacker than any other.<br>
			
			Then, we used to put cans with oil under each leg of the bed<br>
			to drown the vermin that try to climb them.<br>
			
			That’s why I like the smell of oil.”</p>
		</div>
	</section>
	<img src="/imagenes/oscurana/web/1-oscurana.jpg" />
	<caption><h6><b>Oscurana.</b> Wooden bed, earth, glass jars and vermin. Dimensions: 140 x 50 x 195 cm. 2015.</h6></caption>
	<div class="intro-text">
		<p>In a empty room stands a wooden bed supported by 4 glass jars on the legs, each containing a single poisonous vermin. The inverted jars are open, only the weight of the bed is preventing the animals from escaping.</p>
		<p>For the layout of the space we use the concept of <em>disassemble</em> and we remove every item in the room, the closet, the curtains, the light switch, everything.</p>
	</div>
	<div class="columns">
		<div class="col col-6">
			<img src="/imagenes/oscurana/web/5-oscurana.jpg" />
			<caption><h6>Cetipede. Photography Ramiro Chavez.</h6></caption>
			<img src="/imagenes/oscurana/web/10-oscurana.jpg" />
			<caption><h6>Scorpio. On the nineteenth day of the exhibition the scorpio<br>soprise us giving <a href="/-offspring">offspring</a>. Photography Ramiro Chavez.</h6></caption>	
		</div>
		<div class="col col-6">
			<img src="/imagenes/oscurana/web/12-oscurana.jpg" />
			<caption><h6>Tarantula. Photography Ramiro Chavez.</h6></caption>
			<img src="/imagenes/oscurana/web/4-oscurana.jpg" />
			<caption><h6>Snake. Photography Ramiro Chavez.</h6></caption>
		</div>
	</div>

	<img src="/imagenes/oscurana/web/11-oscurana.jpg" />
	<caption><h6><b>Oscurana.</b> Wooden bed, earth, glass jars and vermin. Dimensions: 140 x 50 x 195 cm. 2015. Photography Ramiro Chavez.</h6></caption>
	<img src="/imagenes/oscurana/2.jpg" />
	<caption><h6><b>Oscurana.</b> Wooden bed, earth, glass jars and vermin. Dimensions: 140 x 50 x 195 cm. 2015. Photography Ramiro Chavez.</h6></caption>
	<img src="/imagenes/oscurana/web/9-oscurana.jpg" />
	<caption><h6><b>Oscurana.</b> Wooden bed, earth, glass jars and vermin. Dimensions: 140 x 50 x 195 cm. 2015. Photography Ling Sepúlveda.</h6></caption>

	<iframe width="350px" height="215" src="https://www.youtube.com/embed/uCE5shZ8TEQ" frameborder="0" allowfullscreen></iframe>

	<div class="credit">
		<h6><a href="/-text-oscurana"><em>Oscurana, lo animal y lo humano. </em> by Sandra Sánchez.</a></h6>
		<h6><a href="http://www.bikiniwax.mx/alejandra-avil-s.html">Bikini Wax Archive</h6></a></h6>	
		<h6>Supported by FONCA.</h6>
		<h6>Images courtesy of Bikini Wax</h6>
	</div>
</article>