<article>
	<header>
	<h1>Other moon</h1>
	</header>
	<div class="intro-text">
		<p>The insects use the moon for their orientation and displacement. This is a wire structure around the body with artificial lighting in order to attract the nocturnal insects on the field and confuse them about the real light of the moon.</p>
	</div>
	<img src="/imagenes/other-moon/web/1.jpg" />	
	<caption><h6><b>Other moon.</b> Diameter: 250cm. 2014.</h6></caption>
	<div class="columns">
		<div class="col col-6">
			<img src="/imagenes/other-moon/web/5.jpg" />
		</div>
		<div class="col col-6">
			<img src="/imagenes/other-moon/web/4.png" />
			<!-- <iframe width="290" height="315" src="https://www.youtube.com/embed/rupvvro9oJI?autoplay" frameborder="0" allowfullscreen></iframe> -->
		</div>
	</div>
	<div class="credit">
		<h6>Supported by FONCA</h6>	
	</div>
</article>