<article>
	<header><h1>Paradise</h1>
		<h5>Curated by Alán Sierra. Trama Guadalajara Jalisco.<br>6 sep - 22 sep 2012</h5>
	</header>
	<section>
		<div class="columns">
			<div class="col col-6">
				<img src="/imagenes/paradise/2.jpg" />
			</div>
			<div class="col col-6">
				<img src="/imagenes/paradise/3.jpg" />
			</div>
		</div>
	<caption><h6><b>Paradise.</b> Ioned plastic. 3.5 x 7 m. 2012.</h6></caption>
	</section>
	<section>
		<div class="columns">
			<div class="col col-6">
				<img src="/imagenes/paradise/1.jpg" />
			</div>
			<div class="col col-6">
				<img src="/imagenes/paradise/11.jpg" />
			</div>
		</div>
	<caption><h6><b>Paradise.</b> Ioned plastic. 3.5 x 7 m. 2012.</h6></caption>
	</section>
	<section>
		<iframe width="100%" height="615" src="https://www.youtube.com/embed/SRPXYvpdob8?list=PLN0wJH5bvSLjcVSdjSG-K3lPg0LeYsBXs" frameborder="0" allowfullscreen></iframe>
	</section>
	<section>
		<div class="columns">
			<div class="col col-6">
				<img src="/imagenes/paradise/7.jpg" />
			</div>
			<div class="col col-6">
				<img src="/imagenes/paradise/8.jpg" />
			</div>
		</div>
		<caption><h6>Ioned plastic. 3.5 x 7 m. 2012.</h6></caption>
	</section>
	<div class="credit">
		<h6><a href="/-text-la-misma-fruta">Text by Alán Sierra</a></h6>
		<h6>Supported by PECDA</h6>
	</div>
</article>

