<article>
	<header><h1>Pink</h1></header>
		<img src="/imagenes/pink/web/1-pink.jpg" />
		<caption><h6><b>Pink.</b> Ioned plastic. 11 x 7 m. 2011.</h6></caption>
	<div class="columns">
		<div class="col col-6">
			<img src="/imagenes/pink/web/2-pink.jpg" />
		</div>
		<div class="col col-6">
			<img src="/imagenes/pink/web/5-pink.jpg" />
		</div>
	</div>
</article>