<div class="columns columns-guttered">
  <div class="col col-4">
    <a class="item item-img" href="-oscurana">
      <div class="cover-wrapper">
        <img src="/home-img/oscurana.jpg" />
<!--         <div class="cover"><h6><h6>Oscurana</h6></div> -->
      </div>
    </a>
    <a class="item item-img" href="-real-refreshing-thing">
      <div class="cover-wrapper">
        <img src="/home-img/1-refreshing.jpg" />
        <!-- <div class="cover"><h6><h6>Real refreshing thing</h6></div> -->
      </div>
    </a>
    <a class="item item-text" href="-text-oscurana">
      <i class="fa fa-file-text-o" aria-hidden="true"></i>
      <h5>Oscurana, lo animal y lo humano<br>Sandra Sánchez</h5>
      <h6>Gastv.mx</h6>
    </a>
    <a class="item item-img" href="-saint-george">
      <div class="cover-wrapper">
        <img src="/home-img/san-jorge.jpg" />
        <!-- <div class="cover"><h6><h6>Blessed</h6></div> -->
      </div>
    </a>
    <a class="item item-img" href="-other-moon">
      <div class="cover-wrapper">
        <img src="/home-img/otra-luna.jpg" />
<!--         <div class="cover"><h6>Other moon</h6></div> -->
      </div>
    </a>
<!--     <a class="item item-text" href="-text-statement">
      <i class="fa fa-file-text-o" aria-hidden="true"></i>
      <h5>Statement</h5>
      <h6>Alejandra Avilés</h6>
    </a> -->
  </div>
  <div class="col col-4">
    <a class="item item-img" href="-spider">
      <div class="cover-wrapper">
        <img src="/home-img/arana.jpg" />
        <!-- <div class="cover"><h6>Spider</h6></div> -->
      </div>
    </a>
    <a class="item item-img" href="-fake-coralillo">
      <div class="cover-wrapper">
        <img src="/home-img/coralillo.jpg" />
        <!-- <div class="cover"><h6>Fake coralillo</h6></div> -->
      </div>
    </a>
    <a class="item item-text" href="-text-hacia-la-intemperie">
      <i class="fa fa-file-text-o" aria-hidden="true"></i>
      <h5>Hacia la intemperie<br>Maria Fernanda Camarena<h5>
      <h6>Harper's Bazaar Art Mexico</h6>
    </a>
    <a class="item item-img" href="-blood-to-irritation">
      <div class="cover-wrapper">
        <img src="/home-img/irritacion.jpg" />
        <!-- <div class="cover"><h6>Blood to irritation</h6></div> -->
      </div>
    </a>
    <a class="item item-img" href="-offspring">
      <div class="cover-wrapper">
        <img src="/home-img/1-offspring.jpg" />
        <!-- <div class="cover"><h6>Offspring</h6></div> -->
      </div>
    </a>
    <a class="item item-img" href="-sweat-to-effort">
      <div class="cover-wrapper">
        <img src="/home-img/esfuerzo.jpg" />
        <!-- <div class="cover"><h6><h6>Sweat to effort</h6></div> -->
      </div>
    </a>
    <a class="item item-text" href="-text-when-we-are-strange">
      <i class="fa fa-file-text-o" aria-hidden="true"></i>
      <h5>When we are strange<br>Aldo Guerra<h5>
      <h6>Wall text Sentido Inverso</h6>
    </a>
    <a class="item item-img" href="-anomaly">
      <div class="cover-wrapper">
        <img src="/home-img/7.jpg" />
        <!-- <div class="cover"><h6>Anomaly</h6></div> -->
      </div>
    </a>
  </div>
  <div class="col col-4">
    <a class="item item-img" href="-hacia-la-intemperie">
      <div class="cover-wrapper">
        <img src="/home-img/intemperie.jpg" />
        <!-- <div class="cover"><h6>Hacia la intemperie</h6></div> -->
      </div>
    </a>
    <a class="item item-img" href="-organs">
      <div class="cover-wrapper">
        <img src="/home-img/1-organs.jpg" />
        <!-- <div class="cover"><h6>Organs</h6></div> -->
      </div>
    </a>
    <a class="item item-img" href="-amplify-cut">
      <div class="cover-wrapper">
        <img src="/home-img/corte-.jpg" />
<!--         <div class="cover"><h6>Amplify cut</h6></div> -->
      </div>
    </a>
    <a class="item item-img" href="-inverse">
      <div class="cover-wrapper">
        <img src="/home-img/sentido-inverso.jpg" />
        <!-- <div class="cover"><h6>Inverse sense</h6></div> -->
      </div>
    </a>
    <a class="item item-text" href="-text-la-misma-fruta">
      <i class="fa fa-file-text-o" aria-hidden="true"></i>
      <h5>La misma fruta<br>Alán Sierra<h5>
      <h6>Wall text for Paradise</h6>
    </a>
    <a class="item item-img" href="-pink">
      <div class="cover-wrapper">
        <img src="/home-img/pink.jpg" />
        <!-- <div class="cover"><h6>Pink</h6></div> -->
      </div>
    </a>
    <a class="item item-img" href="-paradise">
      <div class="cover-wrapper">
        <img src="/home-img/paradise.jpg" />
        <!-- <div class="cover"><h6>Paradise</h6></div> -->
      </div>
    </a>
  </div>
</div>