<article>
	<header><h1>Refreshing</h1></header>
	<div class="intro-text">
		<p>We used to put foil paper with Coca-Cola in the windows. The foil paper is necessary to isolate the light and keep the house dark and “fresh”. Thanks to the sticky characteristics, the Coca-Cola was used as glue as well as the real refreshing thing.</p>
	</div>
	<div class="columns">
		<div class="col col-6">
			<img src="/imagenes/real-refreshing-thing/web/3-refreshing.jpg" />
			<caption><h6><b>Refreshing. </b>Dimensions: 120 x 140 cm. 2015.</h6></caption>
		</div>
		<div class="col col-6">
			<img src="/imagenes/real-refreshing-thing/web/2-refreshing.jpg" />
		</div>
	</div>
	<div class="credit">
		<h6>Photography Ramiro Chavez.</h6>
		<h6>Oscurana Bikini Wax Mexico City 2015.</h6>
	</div>

</article>