<article>
	<header>
		<h1>Blessed</h1>
	</header>
	<div class="intro-text">
		<h5><br>“Blessed Saint George moors your little animals,<br>with your blessed rope, so they do not bite me<br>or any of my little brothers and sisters”</h5>
		<br>
		<h6>(es) “San Jorge Bendito, amarra a tus animalitos<br>con un cordón bendito, para que no me piquen<br>a mi ni a mis hermanitos”</h6>
	</div>

	<div class="columns">
		<div class="col col-6">
			<img src="/imagenes/saint-george/web/1.jpg" />	
		</div>
		<div class="col col-6">
		<img src="/imagenes/saint-george/web/3.jpg" />	
		<h6><b>Blessed.</b> Embroidered blanket with text. Dimensions: 117 x 154 cm. 2015.</h6>
			<h6>
			SAN<br>
			JOR<br>
			GEB<br>
			END<br>
			ITO<br>
			AMA<br>
			RRA<br>
			ATU<br>
			SAN<br>
			IMA<br>
			LIT<br>
			OSC<br>
			ONU<br>
			NCO<br>
			RDO<br>
			'NB<br>
			END<br>
			ITO<br>
			</h6>	
		</div>
	</div>
	<div class="credit">
		<h6>Photography Ramiro Chavez.</h6>
		<h6>Oscurana Bikini Wax Mexico City 2015.</h6>
	</div>
</article>