<article>
	<header>
		<h1>Spider</h1>
	</header>
	<div class="columns">
		<div class="col col-6">
			<img src="/imagenes/spider/web/1-spider.jpg" />
			<img src="/imagenes/spider/web/3-spider.jpg" />
		</div>
		<div class="col col-6">
			<img src="/imagenes/spider/web/2-spider.jpg" />
			<img src="/imagenes/spider/web/5-spider.jpg" />
		</div>
		<h6><b>Spider. </b>Tomato branches on previous holes of the wall’s. Variable dimensions. 2015.</h6>
	</div>
	<div class="credit">
		<h6>Photography Ramiro Chavez.</h6>
		<h6>Bikini Wax Mexico City.</h6>
	</div>
</article>