<article>
	<header><h1>Sweat to effort</h1></header>
	<img src="/imagenes/sweat-to-effort/1.jpg" />
	<img src="/imagenes/sweat-to-effort/2.jpg" />
	<caption><h6><b>Sweat to effort.</b> Digital photography. Variable Dimensions. 2011.</h6></caption>
	<div class="credit">
		<h6>Supported by FECAS</h6>	
	</div>
</article>