<div class="text">
<section>
	<header>
		<h2>Golden valley</h2>
		<h5>Statement</h5>
		<h5>Alejandra Avilés</h5>
		<h5>Cajeme Mx. 1989</h5>
	</header>
	<p>In the middle of the twentieth century my grandparents moved to the Sonoran Desert
	in the northwest of Mexico to work as farmers. The mountains where they
	came from had been emptied of their gold and a strange agricultural
	boom was taking place in the valleys.</p>

	<p>Acres of desert vegetation were disassembled and transformed into monoculture farmland. Removing the roots of the thorny specimens and resilient cactuses was fundamental to prevent them growing again. Then the varieties of plants where replaced with a single one, a resilient, adaptable and fast growing wheat. They call it <em>The green revolution</em>.</p>

	<p>The narratives of the green generation are like raw material for me. When they
	tell me stories of this period they describe me snakes, scorpios, spiders,
	indians, darkness, rivers, ghost, oil and sun. They don´t speak me about
	modernism, progress or revolution. I figure that the experience they had
	with the ecosystem was stronger than the socio-economic reality they were
	living. With materials, clothing and installations I want to display this tensions and question the idea of natural abundance in my country.</p>
</section>
</div>


	<p>In the middle of the twentieth century my grandparents moved to the Sonoran Desert
	in the northwest of Mexico to work as farmers. The mountains where they
	came from had been emptied of their gold and a strange agricultural
	boom was taking place in the valleys.</p> 