<article>
	<header><h1>Anomally</h1></header>
	
	<img src="/imagenes/with-the-same-eyes/1.jpg" />
	<caption><h6><b>With the same eyes, the same horizon</b> Digital photography. Variable Dimensions. 2011.</h6></caption>

	<img src="/imagenes/with-the-same-eyes/7.jpg" />
	<caption><h6><b>Yugular.</b> Digital photography. Variable Dimensions. 2011.</h6></caption>

	<img src="/imagenes/with-the-same-eyes/2.jpg" />
	<caption><h6><b>Oviachic</b> Digital photography. Variable Dimensions. 2011.</h6></caption>

	<div class="credit">
		<h6>Supported by FECAS</h6>	
	</div>
</article>