<img src="/imagenes/yo.png" />

<!-- <h2>Alejandra Avilés</h2> -->


<h5>Alejandra Avilés<br>Cajeme, Sonora, 1989.<br>
Reside y trabaja en la Ciudad de México.</h5>


<p>Mi trabajo aborda la vulnerabilidad del cuerpo y la búsqueda de protección como consecuencia de esta condición. Me interesan las situaciones que se crean en zonas hostiles y explorar con materiales para abstraer la experiencia de habitar un desierto.</p>





<div class="columns">
<h4>Formación</h4>
		<div class="columns column-uncuarto"><h5>2014-2015</h5></div>
		<div class="columns column-trescuarto">
			<p>Programa Educativo SOMA.</p>
		</div>

		<div class="columns column-uncuarto"><h5>2012</h5></div>
		<div class="columns column-trescuarto">
			<p>Estancia en la Facultad de Bellas Artes Alonso Cano de la Universidad de Granada, España.</p>
		</div>
	</div>
	<div class="columns">
		<div class="columns column-uncuarto"><h5>2008-2012</h5></div>
		<div class="columns column-trescuarto">
			<p>Licenciatura en Artes Plásticas por la Universidad de Sonora, especialidad de escultura.</p>
		</div>
	</div>


	<div class="columns">
<h4>Exposiciones Individuales</h4>

		<div class="columns column-uncuarto"><h5>2012</h5></div>
		<div class="columns column-trescuarto">
			<p><em>PARADISE.</em> Curaduría Alán Sierra. Trama Centro Especializado en Artes y Restauración, Guadalajara, Jalisco.</p>
		</div>
	</div>

	<div class="columns">
		<div class="columns column-uncuarto"><h5>2011</h5></div>
		<div class="columns column-trescuarto">
			<p><em>Sentido inverso</em> Curaduría Aldo Guerra. Galería Eusebio Francisco Kino, Casa de la Cultura de Hermosillo, Sonora.</p>
		</div>
	</div>

<div class="columns">
<h4>Selecciones y distinciones</h4>
		<div class="columns column-uncuarto"><h5>2013-2015</h5></div>
		<div class="columns column-trescuarto">
			<p>Becaria del Fondo Nacional para la Cultura y las Artes, Jóvenes Creadores, Categoría Medios Alternativos, con el proyecto de instalación “Hacia la intemperie”.</p>
		</div>

		<div class="columns column-uncuarto"><h5>2014-2015</h5></div>
		<div class="columns column-trescuarto">
			<p>Programa Educativo SOMA</p>
		</div>
<div class="columns">

		<div class="columns column-uncuarto"><h5>2012</h5></div>
		<div class="columns column-trescuarto">
			<p>International Art Moves Workshop</p>
		</div>

<div class="columns">
		<div class="columns column-uncuarto"><h5>2011</h5></div>
		<div class="columns column-trescuarto">
		<p>Operador de Arte. Taller de producción, encuentros y asesorías en Tijuana, Baja California.</p>
		</div>

<div class="columns">
		<div class="columns column-uncuarto"><h5>2010-2011</h5></div>
		<div class="columns column-trescuarto">
			<p>Becaria del Fondo Estatal para la Cultura y las Artes del Estado de Sonora en la categoría de Jóvenes Creadores, con el proyecto “Interrupción en el espacio”.</p>
		</div>
		
<div class="columns">
		<div class="columns column-uncuarto"><h5>2011</h5></div>
		<div class="columns column-trescuarto">
			<p>Mención honorífica en la 13va. Bienal de Artes Visuales del Noroeste.</p>
		</div>

<div class="columns">
		<div class="columns column-uncuarto"><h5>2010-2011</h5></div>
		<div class="columns column-trescuarto">
			<p>Selección en el concurso Estatal de Fotografía Creativa, Fotoseptiembre.</p>
		</div>
<div class="columns">
		<div class="columns column-uncuarto"><h5>2010</h5></div>
		<div class="columns column-trescuarto">
			<p>12va Bienal de Artes Visuales del Estado de Sonora.</p>
		</div>

</div>




<div class="columns">
	<h4>Exposiciones Colectivas </h4>
		<div class="columns column-uncuarto"><h5>2015</h5></div>
		<div class="columns column-trescuarto">
			<p><em>Art Barter</em> Salón Acme.</p>
		</div>

		<div class="columns column-uncuarto"><h5>2014</h5></div>
		<div class="columns column-trescuarto">
			<p><em>Creación en movimiento</em> generación del Fondo Nacional para la Cultura y las Artes.</p>
		</div>

		<div class="columns column-uncuarto"><h5>2013</h5></div>
		<div class="columns column-trescuarto">
			<p><em>Proyecciones con Norte</em> Laboratorio de Arte Alameda, Festival Luces de Invierno organizado por el Centro Nacional de la Imagen.</p>
			<p><em>División del Norte</em> Av. División del Norte 42, México D.F.</p>
		</div>

		<div class="columns column-uncuarto"><h5>2012</h5></div>
		<div class="columns column-trescuarto">
			<p><em>Soy una soy mil </em>Colegio de Sonora, Hermosillo, Sonora.</p>
			<p><em>Cuarto por cuarto</em> Casa Haas, Mazatlán, Sinaloa.</p>
		</div>

		<div class="columns column-uncuarto"><h5>2011</h5></div>
		<div class="columns column-trescuarto">
			<p><em>My only regret is not be able to kill you personally,</em> Centro de las Artes de Nuevo León.</p>
			<p><em>¡Maldad!</em> Centro Cultural Mariano Jimenez, San Luis Potosí.</p>
		</div>

		<div class="columns column-uncuarto"><h5>2010</h5></div>
		<div class="columns column-trescuarto">
			<p><em>Esta, esa, aquella</em> Festival Alfonso Ortiz Tirado, Álamos, Sonora.</p>
			<p><em></em></p>
		</div>

<div class="columns">
		<div class="columns column-uncuarto"><h5>Links</h5></div>
		<div class="columns column-trescuarto">
			<p><a href="http://operadordearte.blogspot.mx/" target="target" >Operador de Arte</a></p>
			<p><a href="http://somamexico.org/" target="target" >SOMA MÉXICO</a></p>
		</div>
</div>

<div class="columns">
<h4>Resumen</h4>
		<div class="columns column-uncuarto"><h5></h5></div>
		<div class="columns column-trescuarto">
		<p>Cuenta con dos exposiciones individuales "Sentido inverso" y "PARADISE". Participó en el proyecto del International Art Moves y forma parte de Operador de Arte. En el 2014 obtuvo el Fondo Nacional para la Cultura y las Artes en la categoría de Medios Alternativos. Actualmente forma parte del programa educativo de SOMA y desarrolla el proyecto "Hacia la intemperie".</p>
		</div>
</div>


</div>


<!-- 
<h5><a target="cv" href="/cv-alejandra-aviles.pdf">CV.pdf</a></h5> -->



