---
section: "about"
---
<article>
	<section>
		<h2>Alejandra Avilés</h2>
		<h2>b. 1989, Cajeme, Sonora, MX.</h2>
	  	<h2>alehandra.aviles@gmail.com</h2>
	    <a target="instagram" href="https://www.instagram.com/guacavaqui/"><h2>@guacavaqui</h2></a>
	     <h2><a class="dossier" target="dossier" href="/alejandra-aviles.pdf">alejandra-aviles.pdf</a></h2>
	</section>
	<section>
		<h1>Statement</h1>
		<p>During the first half of the twentieth century the valleys of the Sonoran Desert where disassemble to prepare the soil for agriculture. The work of Alejandra uses as starting point narratives of that period and her imaginary have place in this expose environments. Exploring with materials, she can build large scale installations or make subtle gestures in the space. The animal and the human, poison and earth, heat and darkness, are concepts she continues to develop in her projects.</p>
	</section>
</article>
<div class="about">
	<section>
		<h1>Formation</h1>
		<div class="columns">
			<div class="col col-3"><h6>2017</h6></div>
			<div class="col col-9"><p>Bar Tool #0, Bar Project Barcelona, ES.</p></div>
		</div>
		<div class="columns">
			<div class="col col-3"><h6>2016</h6></div>
			<div class="col col-9"><p>Saas-Fee Summer Institute of Art, Berlin, DE.</p></div>
		</div>
		<div class="columns">
			<div class="col col-3"><h6>2015</h6></div>
			<div class="col col-9"><p>Educative Program of SOMA, Mexico City, MX.</p></div>
		</div>
		<div class="columns">
			<div class="col col-3"><h6>2012</h6></div>
			<div class="col col-9"><p>Academic exchange to Fine Arts University of Granada, SP.</p></div>
		</div>
		<div class="columns">
			<div class="col col-3"><h6>2012</h6></div>
			<div class="col col-9"><p>Fine Art degree in sculpture by the University of Sonora, MX.</p></div>
		</div>
	</section>
	<section>
		<h1>Solo Exhibitions</h1>
		<div class="columns">
			<div class="col col-3"><h6>2016</h6></div>
			<div class="col col-9"><p><em>Con v de vuelta</em>, Proyecto Vitrina Arredondo Arrozarena Gallery. Mexico City, MX.</p></div>
		</div>
		<div class="columns">
			<div class="col col-3"><h6>2016</h6></div>
			<div class="col col-9"><p><em>Americana</em>, Parallel Oaxaca in Solo Swab, Swab Art Fair, Barcelona, SP.</p></div>
		</div>
		<div class="columns">
			<div class="col col-3"><h6>2015</h6></div>
			<div class="col col-9"><p><em>Oscurana</em>, Bikini Wax in Mexico City, MX.</p></div>
		</div>
		<div class="columns">
			<div class="col col-3"><h6>2012</h6></div>
			<div class="col col-9"><p><em>Paradise</em>, curated by Alán Sierra. TRAMA in Guadalajara, MX.</p></div>
		</div>
		<div class="columns">
			<div class="col col-3"><h6>2011</h6></div>
			<div class="col col-9"><p><em>Sentido Inverso</em>, curated by Aldo Guerra. House of Culture of Hermosillo, MX.</p></div>
		</div>
	</section>
	<section>
		<h1>Grants & Selections</h1>
		<div class="columns">
			<div class="col col-3"><h6>2016</h6></div>
			<div class="col col-9"><p>Long stay residency at Hangar center of production, Barcelona, SP.</p></div>
		</div>
		<div class="columns">
			<div class="col col-3"><h6>2014</h6></div>
			<div class="col col-9"><p>Fondo Nacional para la Cultura y las Artes (FONCA). Alternative Media Category. MX.</p></div>
		</div>
		<div class="columns">
			<div class="col col-3"><h6>2012</h6></div>
			<div class="col col-9"><p>IAM, International Art Moves. University of Granada, SP.</p></div>
		</div>
		<div class="columns">
			<div class="col col-3"><h6>2011</h6></div>
			<div class="col col-9">
				<p>“Operador de Arte”. Encounter for emerging artist of the Northwest of Mexico. Tijuana, MX.</p>
				<p>Honorific mention on the 13th Biennial of the Northwest of Mexico. Museo de Arte de Sinaloa, Culiacán, MX.</p>
			</div>
		</div>
		<div class="columns">
			<div class="col col-3"><h6>2011</h6></div>
			<div class="col col-9"><p>Fondo Estatal para la Cultura y las Artes de Sonora (FECAS). Visual Arts Category. MX.</p></div>
		</div>
		<div class="columns">
			<div class="col col-3"><h6>2009</h6></div>
			<div class="col col-9"><p>8th Biennal of Visual Arts of the State of Sonora. House of Culture, Hermosillo, MX.</p></div>
		</div>
	</section>
	<section>
	<h1>Collective Participations</h1>
		<div class="columns">
			<div class="col col-3"><h6>2017</h6></div>
			<div class="col col-9">
				<p>Hecha la ley, hecha la trampa. Curated by Mykson Cardoso. Encura II, Barcelona, SP.</p>
			</div>
			<div class="col col-3"><h6>2016</h6></div>
			<div class="col col-9">
				<p>Chemtrails. Curated by Manuela Pedrón Nicolau y Jaime González Cela. Encura I, Barcelona, SP.</p>
				<p>Individuating, Kunstverein at Rosa Luxemburg-Platz. Berlin, DE.</p>
				<p>Material Art Fair, Mexico City, MX.</p>
				<p>Salon Acme No.4. Curated by Carmen Cebreros. Mexico City, MX.</p>
			</div>
			<div class="col col-3"><h6>2015</h6></div>
			<div class="col col-9">
				<p>Tres pies el enigma de la sucesión. Curated by Victor Palacios and Felipe Zuñiga. Casa del lago de Chapultepec in Mexico City and Museo de Arte de Sinaloa in Culiacán, MX.</p>
				<p>Art Barter Mexico City. MX.</p>
				<p>Creación en Movimiento. FONCA program 2014, Pátzcuaro, Michoacán, MX.</p>
			</div>
			<div class="col col-3"><h6>2014</h6></div>
			<div class="col col-9">
				<p>Acá. El Rastro, Hermosillo, Mexico, MX.</p>
				<p>Mordidas Cataclísmicas. Nayarit Avenue Roma Mexico City, MX..</p>
			</div>
			<div class="col col-3"><h6>2013</h6></div>
			<div class="col col-9">
				<p>Proyecciones con norte. Laboratorio de Arte Alameda, MX.</p>
				<p>División del Norte. Number 42 División del Norte Avenue, Mexico City, MX.</p>
				<p>Márgenes del cuerpo. Anatema Curatorial Project. Guadalajara, MX.</p>
			</div>
			<div class="col col-3"><h6>2012</h6></div>
			<div class="col col-9">
				<p>Soy una y soy mil. El colegio de Sonora, Hermosillo, MX.</p>
				<p>Cuarto por Cuarto. Casa Haas, Mazatlán, MX.</p>
			</div>
			<div class="col col-3"><h6>2010</h6></div>
			<div class="col col-9">
				<p>My only regret is not be able to kill you personally. House of Culture, Monterrey, MX.</p>
				<p>¡Maldad!. Centro Cultural Mariano Jimenez. San Luis Potosí, MX.</p>
				<p>Esta esa aquella. Sala de Arte ISC in Alfonso Tirado Festival, Hermosillo, MX.</p>
			</div>
		</div>
	</section>
	<section>
	<h1>Publications</h1>
		<div class="columns">
			<div class="col col-3"><h6>2015</h6></div>
			<div class="col col-9">
				<p>Memoria Casa del Lago, Juan Jose Arriola UNAM 2013-2015. p108.</p>
				<p>Harper’s Bazaar Art Mexico. Print edition p68-69.</p>
				<p>Gastv Mexico. Online magazine.</p>
			</div>
			<div class="col col-3"><h6>2011</h6></div>
			<div class="col col-9"><p>Arte al día Mexico. Print edition p10.</p></div>
		</div>
	</section>
	<section>
	<h1>Related Links</h1>
	<a target="external-link" href="http://arredondoarozarena.com/proyectovitrina.html"><p>Proyecto Vitrina A/A</p></a>
	<a target="external-link" href="http://barproject.net/bar-tool-0"><p>Bar Tool #0, Bar Project</p></a>
	<a target="external-link" href="https://hangar.org/en/residents/artistes-residents/alejandra-aviles/"><p>Hangar</p></a>
	<a target="external-link" href="http://www.bikiniwax.mx/alejandra-avil-s.html"><p>Bikini Wax</p></a>
	<a target="external-link" href="http://somamexico.org/es/programa-educativo/alejandra-viles"><p>Soma Mexico</p></a>
	<a target="external-link" href="http://operadordearte.blogspot.mx/p/artistas.html"><p>Operador de Arte</p></a>
	<a target="external-link" href="http://tramacentro.org/paradise/"><p>Trama</p></a>
	</section>
</div>
