---
section: "work"
---
<div class="ficha">
	<h6><b>Americana, 2016</b></h6>
	<h6>Paper and ink</h6>
	<h6>100 x 70 cm</h6>
</div>
<div class="project-nav">
	<a class="prev" href="/silver-curves">
		<h1><i class="fa fa-chevron-left" aria-hidden="true"></i></h1>
	</a>
	<a class="grid" href="/">
		<h1><i class="fa fa-th" aria-hidden="true"></i></h1>
	</a>
	<a class="next" href="/hydrated">
		<h1><i class="fa fa-chevron-right" aria-hidden="true"></i></h1>
	</a>
</div>
<img src="/images/americana/paper/americana-11.jpg" />
<article>
	<p>This drawings are an ongoing repetition of the word <em>“Americana”</em>. I like handwriting as a perform of a line in movement. I observe that right hand flows smooth like a snake and that the left hand walks shaggy like a spider (vice versa for lefties). This is an ongoing project. The diptychs are presented accordingly to the hand side they were written.</p>
	<div class="article-footer">
		<h6>Parallel Oaxaca at Swab Art Fair Barcelona, ES.</h6>
		<h6>Sep 21 - 28, 2016.</h6>
		<h6>Organized by Oliver Martinez Kandt and Daniel Aguilar Ruvalcaba.</h6>
		<h6><a target="bikini" href="http://swab.es/es/noticia/solo-swab-2016.html">Solo Swab</a> section was curated by Direlia Lazo and Zaida Trallero.</h6>
	</div>
</article>