<h1>Anomalía</h1>

<h3></h3>

	<p>
En el 2010 y 2011 trabajé principalmente con apropiación de imagen fija y en movimiento.</p>
	<p>En aquel momento no existía una métrica proyectual en sí, los resultados eran series muy breves, pero en conjunto resulta un periodo de experimentación con los diferentes recursos de distorsión aplicables a la imagen. Es a partir de esta aspiración que buscaba encontrar la elaboración consiente, a veces inconsciente, de puntos de conflicto en la imagen, este punto de conflicto, resulta de la anomalía, aquello que interrumpe el primer contacto con lo que realmente estamos observando.</p>


<h2>Oviachic</h2>
<img src="/imagenes/anomalia/1.jpg" />
<img src="/imagenes/anomalia/2.jpg" />
<img src="/imagenes/anomalia/3.jpg" />

<h2>Yugular</h2>
<img src="/imagenes/yugular/11.jpg" />


<img src="/imagenes/anomalia/0.jpg" />
<img src="/imagenes/anomalia/4.jpg" />
<img src="/imagenes/anomalia/5.jpg" />
<img src="/imagenes/anomalia/6.jpg" />


