---
section: "work"
---
<img src="/imagenes/anomaly/3.jpg" />
<div class="ficha">
	<h1>Cercanos e indiferentes, 2011</h1>
	<h6>Photography to screen reproduction of <em>Salo</em> of Pier Paolo Pasolini.</h6>
</div>
<img src="/imagenes/anomaly/1.jpg" />
<div class="ficha">
	<h1>With the same eyes, the same horizon, 2011</h1>
	<h6>Photography thinking on Hiroshi Sugimoto <em>Seascapes</em>.</h6>
</div>
<img src="/imagenes/anomaly/7.jpg" />
<h1>Anomalia, 2009</h1>
<h6>Digital photography</h6>
<div class="footer">
	<h6>Supported by FECAS</h6>	
</div>
<%= partial "about" %>
<%= partial "footer" %>