---
section: "work"
---
<div class="ficha">
	<h6><b>San Jorge bendito amarra a tus animalitos con un cordón bendito, 2015</b></h6>
	<h6>Embroidered blanket.</h6>
	<h6>Dimensions: 117 x 154 cm.</h6>
</div>
<div class="project-nav">
	<a class="prev" href="/organos">
		<h1><i class="fa fa-chevron-left" aria-hidden="true"></i></h1>
	</a>
	<a class="grid" href="/">
		<h1><i class="fa fa-th" aria-hidden="true"></i></h1>
	</a>
	<a class="next" href="/hacia-la-intemperie">
		<h1><i class="fa fa-chevron-right" aria-hidden="true"></i></h1>
	</a>
</div>
<div class="columns">
	<div class="col col-6">
		<img src="/images/bendito/1.jpg" />	
	</div>
	<div class="col col-6">
	<img src="/images/bendito/2.jpg" />	
	</div>
</div>
<article>
	<p>This is an embroided blancket with a prey:<em>"San Jorge Bendito amarra a tus animalitos con un conrdón bendito, para que no me piquen a mi ni a mis hermanitos"</em>. In rural areas of Mexico some mothers made their kids say it before going to bed.</p>
	<p>This prey ask to Saint George, to tight the animalls with a blessed rope, in order to not get bitten by a vermin.</p>
	<div class="article-footer">
		<h6>Solo exhibition at <a target="bikini" href="hhttp://www.bikiniwax.mx/alejandra-avil-s.html">Bikini Wax,</a> Mexico City, MX.</h6>
		<h6>May 28, 2015 - June 19 2015.</h6>
		<h6>Photography by Ramiro Chavez. Courtesy of Bikini Wax.</h6>
		<h6>Supported by FONCA.</h6>
	</div>
</article>