<h2>Colección de consecuencias</h2>
<img src="/imagenes/consecuencias/1.jpg" />
<img src="/imagenes/consecuencias/2.jpg" />
<img src="/imagenes/consecuencias/3.jpg" />
<img src="/imagenes/consecuencias/4.jpg" />
<img src="/imagenes/consecuencias/5.jpg" />