---
section: "work"
---

<div class="ficha">
	<h6><b>Con v de vuelta, 2016</b></h6>
	<h6>Shareholder certificate, photography, frame.</h6>
	<h6>Dimensions: 140 x 50 x 195 cm.</h6>
</div>
<div class="project-nav">
<!-- 	<a class="prev" href="/">
		<h1><i class="fa fa-chevron-left" aria-hidden="true"></i></h1>
	</a> -->
	<a class="grid" href="/">
		<h1><i class="fa fa-th" aria-hidden="true"></i></h1>
	</a>
	<a class="next" href="/silver-curves">
		<h1><i class="fa fa-chevron-right" aria-hidden="true"></i></h1>
	</a>
</div>

<img src="/images/con-v-de-vuelta/1.jpg" />
<article>
	<p>This is an original shareholder document, signed in 1903 by the Gold Meza Mining Co. on behalf of Miguel Duarte shares on the capital stock. Miguel is the great grandfather of my grandmother. My family is from Ónavas, a small town located in the northwest Mexico. There used to be a gold mine that had it’s splendor around the Gold Fever times. When the gold was over, the mine closed and the paper became like “money without value”. One of the few things my grandmother take with her before living her hometown forever was this paper. And because she liked the drawings she keep it for years.</p>
	<p>We don't know why, one day she decided to paste an image of Graciela, (the youngest of her daughters) overlapping her photo on the space designated to the logotype of the mine.</p>
	<p>It took me 26 years to see the actuall shareholder certificate, before that, I remember it hanging in the walls like a diploma or some sorth of institutional recognition given to my aunt.</p>
</article>