<h1>Falsa coralillo</h1>
<h3>Traje-botarga al cuerpo<br>2.20 de altura total<br>2014</h3>
<p>Por cada serpiente de coral venenosa existe una imitadora no venenosa. Éste fenómeno es conocido como <em>mimesis adaptativa</em>, las culebras inofensivas imitan el patrón de color que distingue a las temidas coralillos para mandar una falsa alerta de peligro.</p>

<img src="/imagenes/coralillo/3.jpg" />
<img src="/imagenes/coralillo/4.jpg" />
<img src="/imagenes/coralillo/5.jpg" />

<h3>Confección por Alejandra Dessens. Agradecimientos Kristin Reger.</h3>