---
section: "work"
---
<div class="ficha">
	<h6><b>Corte amplificado, 2011</b></h6>
	<h6>Metal tape (duct-tape) tensed towards a vanishing point.</h6>
	<h6>Dimensions: 500 x 300 x 150 cm.</h6>
</div>
<div class="project-nav">
	<a class="prev" href="/sudor">
		<h1><i class="fa fa-chevron-left" aria-hidden="true"></i></h1>
	</a>
	<a class="grid" href="/">
		<h1><i class="fa fa-th" aria-hidden="true"></i></h1>
	</a>
	<a class="next" href="/sentido-inverso">
		<h1><i class="fa fa-chevron-right" aria-hidden="true"></i></h1>
	</a>
</div>


<img src="/images/corte-amplificado/1.jpg" />
<img src="/images/corte-amplificado/3.jpg" />
<img src="/images/corte-amplificado/4.jpg" />

	<div class="columns">
		<div class="col col-6">
			<img src="/images/corte-amplificado/10.jpg" />
			<img src="/images/corte-amplificado/2.jpg" />
		</div>
		<div class="col col-6">
			<img src="/images/corte-amplificado/8.jpg" />
			<img src="/images/corte-amplificado/22.jpg" />
		</div>
	</div>
<article>
	<div class="article-footer">
		<h6>Solo exhibition at the House of Culture of Hermosillo, Sonora, MX.</h6>
		<h6>November 3, 2011 - January 31 2012.</h6>
		<h6>Supported by FECAS.</h6>	
	</div>
</article>