<h1>Corte amplificado</h1>

<h3>Cinta metálica (duct-tape) tensada hacia un punto de fuga<br>5 x 2.40 x 1.50 m<br>2011</h3>

<img src="/imagenes/corte/1.png" />
<img src="/imagenes/corte/2.jpg" />
<img src="/imagenes/corte/3.jpg" />
<img src="/imagenes/corte/4.jpg" />
<img src="/imagenes/corte/5.jpg" />