
<h1>Del rosa</h1>
<h3>Yuxtaposión de plástico planchado<br>11 x 7 m<br>2012</h3>
<p>Es una instalación que busca crear una experiencia envolvente usando como punto de partida la piel, al fin y al cabo la piel es el primer órgano con el que conocemos el mundo, nuestro primer instrumento de medición y protección.</p>

	<img src="/imagenes/delrosa/3.jpg"/>
	<img src="/imagenes/delrosa/1.jpg"/>
	<img src="/imagenes/delrosa/2.jpg"/>
	<img src="/imagenes/delrosa/4.jpg"/>




