---
section: "work"
---
<div class="ficha">
	<h6><b>Falsa coralillo, 2014</b></h6>
	<h6>Suit</h6>
	<h6>Dimensions: 210cm (large).</h6>
</div>
<div class="project-nav">
	<a class="prev" href="/hacia-la-intemperie">
		<h1><i class="fa fa-chevron-left" aria-hidden="true"></i></h1>
	</a>
	<a class="grid" href="/">
		<h1><i class="fa fa-th" aria-hidden="true"></i></h1>
	</a>
	<a class="next" href="/otra-luna">
		<h1><i class="fa fa-chevron-right" aria-hidden="true"></i></h1>
	</a>
</div>
<div class="columns">
	<div class="col col-4">
	&nbsp;
	</div>
	<div class="col col-8">
		<img src="/images/falsa-coralillo/4.jpg" />
	</div>
</div>

<div class="columns">
	<div class="col col-4">
		<img src="/images/falsa-coralillo/3.jpg" />
	</div>
	<div class="col col-8">
		&nbsp;
	</div>
</div>
<article>
	<p>For each poisonous coral snake there is a benign imitator. This is known as “adaptive mimesis”, some non poisonus snakes uses the distinctive color pattern of the original coral for protection.</p>
	<p>This is a costum to wear and send a "false alarm" of danger.</p>
	<div class="article-footer">
		<h6>Photography Carlos Iván Hernández<h6>
		<h6>Suit confection Alejandra Dessens<h6>
		<h6>Regards to Kristin Reger<h6>
		<h6>Suppored by FONCA</h6>
	</div>
</article>