---
section: "work"
---
<div class="ficha">
	<h6><b>Hacia la intemperie, 2014</b></h6>
	<h6>Wood, and "Palo verde" tree. </h6>
	<h6>Dimensions: 400 x 240 x 240 cm.</h6>
</div>
<div class="project-nav">
	<a class="prev" href="/bendito">
		<h1><i class="fa fa-chevron-left" aria-hidden="true"></i></h1>
	</a>
	<a class="grid" href="/">
		<h1><i class="fa fa-th" aria-hidden="true"></i></h1>
	</a>
	<a class="next" href="/falsa-coralillo">
		<h1><i class="fa fa-chevron-right" aria-hidden="true"></i></h1>
	</a>
</div>
<img src="/images/hacia-la-intemperie/3-hacia-la-intemperie.jpg" />
<div class="columns">
	<div class="col col-6">
		<img src="/images/hacia-la-intemperie/6-hacia-la-intemperie.jpg" />
		<img src="/images/hacia-la-intemperie/9-hacia-la-intemperie.jpg" />
	</div>
	<div class="col col-6">
		<img src="/images/hacia-la-intemperie/1-hacia-la-intemperie.jpg" />
		<img src="/images/hacia-la-intemperie/2-hacia-la-intemperie.jpg" />
	</div>
</div>
<img src="/images/hacia-la-intemperie/sidewinder.jpg" />
<article>
		<p>I remember the summer nights in Sonora, the heat that accumulated in the rooms during the day was so intense that it was better to take the beds out of the house and spend the night sleeping on the field. This platform was built as an excuse to spend again a night exposed to the outdoors.</p>
		<p><b>Upwards</b><br>I’m interested in the way we differentiate ourselves from nature and the tensions that emerge from this separation. In Spheres III Peter Sloterdijk said <em>“that concept of civilization have as a premise the one of antigravity”</em>. We build aircraft, spacecraft, higher buildings, the higher the better. Without going that high, let’s observe that the beds where we sleep and the tables where we eat, are away from the floor. We even use cutlery to not touch our food that cames from the soil. We must agree then, that the concept of <em>earth</em> is a big tension for us. I’d like to explore this concept and the atavic fears around it.</p>
		<p><b>Crawling</b><br>The height is also protect us from the crawling dangers and preserve us alive. Just before I get up to the platform, a snake appear in the field. This is an emblematic rattlesnake of the Sonoran Desert, <em>crotalus cerastes</em>. In the Mexican side we call it “cascabel de cuernitos”, in Arizona they call it “the sidewinder”. This snake developed side movements for plunge in the soft sand, all the other snakes have vertical locomotions, but the sidewinder is unique for her horizontal way of displacement.</p>
	<div class="article-footer">
		<h6>Sonoran Desert, MX.<h6>
		<h6>Photography Carlos Iván Hernández.</h6>
		<h6>Supported by FONCA</h6>
	</div>
</article>