---
section: "work"
---
<div class="ficha">
	<h6><b>Hydrated over dehydrated, 2016</b></h6>
	<h6>Aubergines with variations on hidratation</h6>
	<h6>Variable dimensions.</h6>
</div>
<div class="project-nav">
	<a class="prev" href="/americana">
		<h1><i class="fa fa-chevron-left" aria-hidden="true"></i></h1>
	</a>
	<a class="grid" href="/">
		<h1><i class="fa fa-th" aria-hidden="true"></i></h1>
	</a>
	<a class="next" href="/polarized-refreshment">
		<h1><i class="fa fa-chevron-right" aria-hidden="true"></i></h1>
	</a>
</div>
<img src="/images/hydrated/1.png" />
<article>
	<p>This piece is formed by two aubergines. The one on top seems to be making pressure on the bottom one, but there’s actually no weight, this impression is given by the variations on the hydration and dehydration of the vegetable.</p>
	<div class="article-footer">
	</div>
</article>