---
section: "work"
---
<div class="columns columns-guttered">
  <div class="col col-4">
    <a class="item item-img" href="con-v-de-vuelta">
        <img src="images/con-v-de-vuelta/1.jpg" />
        <div class="cover"><h6>Con v de vuelta, 2016</h6></div>
    </a>
    <a class="item item-img" href="hacia-la-intemperie">
        <img src="/images/index/hacia-la-intemperie.jpg" />
        <div class="cover"><h6>Hacia la intemperie, 2014</h6></div>
    </a>
    <a class="item item-img" href="organos">
        <img src="/images/index/organos.jpg" />
        <div class="cover"><h6>Organos, 2015</h6></div>
    </a>
    <a class="item item-img" href="sangre">
        <img src="/images/index/sangre.jpg" />
        <div class="cover"><h6>A la irritación la sangre, 2011</h6></div>
    </a>
    <a class="item item-img" href="sudor">
        <img src="/images/index/sudor.jpg" />
        <div class="cover"><h6><h6>Al esfuerzo el sudor, 2011</h6></div>
    </a>
    <a class="item item-img" href="otra-luna">
        <img src="/images/index/otra-luna.jpg" />
        <div class="cover"><h6>Otra luna, 2014</h6></div>
    </a>
  </div>
  <div class="col col-4">
    <a class="item item-img" href="silver-curves">
        <img src="/images/index/silver-curves.jpg" />
        <div class="cover"><h6><h6>Silver curves, 2016</h6></div>
    </a>
    <a class="item item-img" href="hidratated">
        <img src="images/hidratated/1.png" />
        <div class="cover"><h6>Hydrated over dehydrated, 2016</h6></div>
    </a>
    <a class="item item-img" href="polarized-refreshment">
        <img src="/images/index/polarized-refreshment.png" />
        <div class="cover"><h6>Polarized refreshment, 2016</h6></div>
    </a>
    <a class="item item-img" href="bendito">
        <img src="/images/index/bendito.jpg" />
        <div class="cover"><h6><h6>Bendito, 2015</h6></div>
    </a>
    <a class="item item-img" href="falsa-coralillo">
        <img src="/images/index/falsa-coralillo.jpg" />
        <div class="cover"><h6>Falsa coralillo, 2014</h6></div>
    </a>
    <a class="item item-img" href="sentido-inverso">
        <img src="/images/index/sentido-inverso.jpg" />
        <div class="cover"><h6>Sentido inverso, 2011</h6></div>
    </a>
    <a class="item item-img" href="paradise">
        <img src="/images/index/paradise.jpg" />
        <div class="cover"><h6>Paradise, 2012</h6></div>
    </a>
  </div>
  <div class="col col-4">
    <a class="item item-img" href="americana">
        <img src="/images/index/america.jpg" />
        <div class="cover"><h6>Americana, 2016</h6></div>
    </a>
    <a class="item item-img" href="tomato-branches">
        <img src="/images/index/alimana.jpg" />
        <div class="cover"><h6>Untitled, 2015</h6></div>
    </a>
    <a class="item item-img" href="oscurana">
      <img src="/images/index/oscurana.jpg" />
      <div class="cover"><h6>Oscurana, 2015</h6></div>
    </a>
    <a class="item item-img" href="refreshing">
        <img src="/images/index/refreshing.jpg" />
        <div class="cover"><h6><h6>Oscurana Window, 2015</h6></div>
    </a>
    <a class="item item-img" href="corte-amplificado">
        <img src="/images/index/corte-amplificado.jpg" />
        <div class="cover"><h6>Corte amplificado, 2011</h6></div>
    </a>
    <a class="item item-img" href="pink">
        <img src="/images/index/pink.jpg" />
        <div class="cover"><h6>Pink, 2012</h6></div>
    </a>
  </div>
</div>