

<h1>EMPIEZA<br>DONDE<br>TERMINA</h1>


<h5>MATABAN UNA<br>

VACA CADA<br>

TRES DÍAS Y<br>

LA COMÍAN<br>

DURANTE<br>

TRES DÍAS,<br>

TRES VECES<br>

AL DÍA<br></h5>


<h3>Proyecto que desarrolla la dicotomía entre <em>barbarie y civilización</em><br>a partir de las costumbres culinarias del centro y el norte de México.</h3>

<p>Del 19 de abril al 02 de mayo / Revisión abierta al público el 28 de abril a las 5:30 /<br><a href="http://somamexico.org/" target="target" >/ SOMA /</a> Calle 13 num. 25 Col. San Pedro de los Pinos. / México D.F. 
</p>




<img width="50%" src="/imagenes/edtimg.jpg" />