
<h1>Hacia la<br>intemperie</h1>

<h3>Plataforma sobre árbol de palo verde.<br>4m de altura 2.40 x 2.40 base.<br>2014</h3>

	<p>Recuerdo las noches de verano en Sonora, el calor que se acumulaba en los cuartos era tan intenso que resultaba mejor sacar las camas de la casa y pasar la noche a la intemperie. Ésta plataforma fue construída para pasar la noche sobre ella.</p>

	<img src="/imagenes/intemperie/2.jpg" />
	<img src="/imagenes/intemperie/1.jpg" />
	<img src="/imagenes/intemperie/0.jpg" />
	<img src="/imagenes/intemperie/3.jpg" />
	<img src="/imagenes/intemperie/4.jpg" />
	<img src="/imagenes/intemperie/5.jpg" />
	<img src="/imagenes/intemperie/13.jpg" />
	<img src="/imagenes/intemperie/7.jpg" />
	