<h1>La misma fruta</h1>
<div class="section-video">

<iframe width="323" height="100%" src="http://www.youtube.com/embed/PO_k8wce5dY?rel=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>

<iframe width="323" height="100%" src="http://www.youtube.com/embed/FML9OjSFgfo?rel=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>

<iframe width="323" height="100%" src="http://www.youtube.com/embed/2li-J2N4jcg?rel=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>

<iframe width="323" height="100%" src="http://www.youtube.com/embed/bDn2awXllfk?rel=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>

<iframe width="323" height="100%" src="http://www.youtube.com/embed/HQ0lkMPPsQE?rel=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>

<iframe width="323" height="100%" src="http://www.youtube.com/embed/Lhm6Wx9dGZM?rel=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>

<iframe width="323" height="100%" src="http://www.youtube.com/embed/PBn_n3M-Go4?rel=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>

<iframe width="323" height="100%" src="http://www.youtube.com/embed/li21Sb3uQq4?rel=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>

<iframe width="323" height="100%" src="http://www.youtube.com/embed/pSS68uGXZhk?rel=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>

<iframe width="323" height="100%" src="http://www.youtube.com/embed/m_WX7Hxr10I?rel=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>

<iframe width="323" height="100%" src="http://www.youtube.com/embed/SRPXYvpdob8?rel=0&showinfo=0&autohide=1" alt="Proyección" frameborder="0" allowfullscreen></iframe>
</div>

<div  class="section-btn">
	<h6> Fue exhibida en TRAMA Centro Especializado de Artes y Restauraci&oacute;n como parte del programa de exposiciones PERSONARSE de dicho espacio. Guadalajara, M&eacute;xico, septiembre 2012. </h6>
</div>