---
section: "work"
---
<div class="ficha">
	<h6><b>Otra luna, 2014</b></h6>
	<h6>Wire, electricity, light bulbs.</h6>
	<h6>Diameter: 250cm.</h6>
</div>
<div class="project-nav">
	<a class="prev" href="/falsa-coralillo">
		<h1><i class="fa fa-chevron-left" aria-hidden="true"></i></h1>
	</a>
	<a class="grid" href="/">
		<h1><i class="fa fa-th" aria-hidden="true"></i></h1>
	</a>
	<a class="next" href="/sangre">
		<h1><i class="fa fa-chevron-right" aria-hidden="true"></i></h1>
	</a>
</div>
<img src="/images/otra-luna/1.jpg" />
<div class="columns">
	<div class="col col-6">
		<img src="/images/otra-luna/7.jpg" />
	</div>
	<div class="col col-6">
		<img src="/images/otra-luna/8.jpg" />
	</div>
</div>
<article>
	<p>The insects use the moon for their orientation and displacement. This is a wire structure around the body with artificial lighting in order to attract the nocturnal insects on the field and confuse them about the real light of the moon.</p>
<!-- 	<iframe width="50%" height="350px" src="https://www.youtube.com/embed/rupvvro9oJI?autoplay" frameborder="0" allowfullscreen></iframe>
	<div class="article-footer"> -->
		<h6>Sonoran Desert, MX.<br>
		Photography by Carlos Iván Hernández<br>
		Supported by FONCA</h6>	
	</div>
</article>