<h1>Otra luna</h1>
<h3>Estructura con iluminación artificial<br>2.50 diámetro total<br>2014</h3>
<p>Es una estructura de luz artificial creada con el fin de atraer los insectos que habitan el monte. Los insectos utilizan la luna para su orientación y desplazamiento, esta luz los confunde con respecto a la verdadera luz del astro.</p>

<img src="/imagenes/falsaluna/1.png" />
<img src="/imagenes/falsaluna/5.jpg" />
<img src="/imagenes/falsaluna/2.png" />
<img src="/imagenes/falsaluna/3.jpg" />
<img src="/imagenes/falsaluna/4.png" />