
<h1><em>PARADISE</em></h1>
<h3>Yuxtaposición de plástico planchado<br>8 x 3.50 m<br>2012</h3>

<h5>Curadur&iacute;a por Al&aacute;n Sierra.</h5>


<p> <em>PARADISE</em> es un proyecto derivado de la exploraci&oacute;n del impulso sexual. En particular, describe los estados de angustia e introspecci&oacute;n que acompa&ntilde;an el deseo, a la par que se descubre la anatom&iacute;a de otro sujeto. La exposici&oacute;n funciona como una narraci&oacute;n, dirigida a sugerir un ambiente, un escenario como forma alternativa para entender la pulsi&oacute;n.</p>




<img src="/imagenes/paradise/1.jpg" />
<img src="/imagenes/paradise/2.jpg" />
<img src="/imagenes/paradise/3.jpg" />
<img src="/imagenes/paradise/5.jpg" />
<img src="/imagenes/paradise/6.jpg" />
<img src="/imagenes/paradise/7.jpg" />
<img src="/imagenes/paradise/8.jpg" />




<a class="btn" href="/lamisma">Leer texto de Sala</a>