---
section: "work"
---
<div class="ficha">
	<h6><b>Paradise, 2012</b></h6>
	<h6>Ioned plastic. 3.5 x 7 m.</h6>
	<h6>Curated by Alán Sierra</h6>
</div>
<div class="project-nav">
	<a class="prev" href="/pink">
		<h1><i class="fa fa-chevron-left" aria-hidden="true"></i></h1>
	</a>
	<a class="grid" href="/">
		<h1><i class="fa fa-th" aria-hidden="true"></i></h1>
	</a>
<!-- 	<a class="next" href="/">
		<h1><i class="fa fa-chevron-right" aria-hidden="true"></i></h1>
	</a> -->
</div>
<img src="/images/paradise/2.jpg" />
<img src="/images/paradise/1.jpg" />
<img src="/images/paradise/11.jpg" />
<img src="/images/paradise/3.jpg" />
<article>
	<iframe width="100%" height="450" src="https://www.youtube.com/embed/SRPXYvpdob8?list=PLN0wJH5bvSLjcVSdjSG-K3lPg0LeYsBXs" frameborder="0" allowfullscreen></iframe>
	<p>Limited by our seses, we use impulses to make decisions that satisfy the anguish. Often the body consciousnes is achieved intuitively and circumstantially, as in a game or exploration devoid of method, we dig with our hands and tongue the cave that separates the world from the ideas of shadows and reflections in the water.</p>
	<div class="article-footer">
		<h6>Solo exhibition at <a target="trama" href="http://tramacentro.org/paradise/">TRAMA</a>, Centro Especializado en Artes y Restauración.</h6>
		<h6>Guadalajara, Jalisco, MX.<br>
		<h6>September 6, 2012 - September 22 2012.<br>
		<h6>Supported by PECDA</h6>	
	</div>
</article>