---
section: "work"
---
<div class="ficha">
	<h6><b>Del rosa el secreto extendido, 2012</b></h6>
	<h6>Ioned plastic.</h6>
	<h6>1100 x 700 cm.</h6>
</div>
<div class="project-nav">
	<a class="prev" href="/sentido-inverso">
		<h1><i class="fa fa-chevron-left" aria-hidden="true"></i></h1>
	</a>
	<a class="grid" href="/">
		<h1><i class="fa fa-th" aria-hidden="true"></i></h1>
	</a>
	<a class="next" href="/paradise">
		<h1><i class="fa fa-chevron-right" aria-hidden="true"></i></h1>
	</a>
</div>
<img src="/images/pink/5-pink.jpg" />
<img src="/images/pink/2-pink.jpg" />
<img src="/images/pink/1-pink.jpg" />
<article>
	<div class="article-footer">
		<h6>El Colegio de Sonora. Hermosillo, Sonora, MX.<h6>
		<h6>November 15 - November 30, 2012.</h6>
		</h6>
	</div>
</article>