---
section: "work"
---
<div class="ficha">
	<h6><b>Polarized refreshment, 2016</b></h6>
	<h6>With Alex Chalmers</h6>
	<h6>Window, Kitchen foil paper and Coca-Cola. Dimensions: 400 x 250 cm.</h6>
</div>
<div class="project-nav">
	<a class="prev" href="/hidratated">
		<h1><i class="fa fa-chevron-left" aria-hidden="true"></i></h1>
	</a>
	<a class="grid" href="/">
		<h1><i class="fa fa-th" aria-hidden="true"></i></h1>
	</a>
	<a class="next" href="/oscurana">
		<h1><i class="fa fa-chevron-right" aria-hidden="true"></i></h1>
	</a>
</div>
<img src="/images/polarized-refreshment/1.png" />
<img src="/images/polarized-refreshment/3.jpg" />
<img src="/images/polarized-refreshment/4.png" />
<img src="/images/polarized-refreshment/2.jpg" />
<article>
	<p>First we spray the Coca-Cola and then we stick a kitchen foil paper layer until cover the surface of the window. The shiniest side have to face the exterior, the matt to the interior.</p>
	<p>This is a polarization method used in the mexican side of the Sonoran Desert. We decided to reproduce in the entrance of the Kunstverein of Rosa Luxemburg Platz. The installation worked as a threshold between the outdoor light and the indoor dark.</p>
	<div class="article-footer">
		<h6>Saas-Fee Summer Institute of Art.</h6>	
		<h6>Kunsverein Rosa Luxemburg Platz, Berlin, DE.</h6>	
	</div>
</article>