---
section: "work"
---
<div class="ficha">
	<h6><b>Oscurana window, 2015</b></h6>
	<h6>Window, kitchen foil paper, Coca-Cola</h6>
	<h6>Dimensions: 120 x 140 cm.</h6>
</div>
<div class="project-nav">
	<a class="prev" href="/oscurana">
		<h1><i class="fa fa-chevron-left" aria-hidden="true"></i></h1>
	</a>
	<a class="grid" href="/">
		<h1><i class="fa fa-th" aria-hidden="true"></i></h1>
	</a>
	<a class="next" href="/tomato-branches">
		<h1><i class="fa fa-chevron-right" aria-hidden="true"></i></h1>
	</a>
</div>
<div class="columns">
	<div class="col col-6">
		<img src="/images/refreshing/3-refreshing.jpg" />
	</div>
	<div class="col col-6">
		<img src="/images/refreshing/2-refreshing.jpg" />
	</div>
</div>
<article>
	<p>Everytime I need to darken a room I bring this peculiar way of polarizating the windows, that my mother show me. First we spray coca-cola, then we add a layer of kitchen foil paper. The shiniest side have to face the exterior, the matt to the interior.</p>
	<p>I liked the inventiveness given to resolve a problem. These piece is an unfold materials related to dwelling the desert without thecnology.</p>
	<div class="article-footer">
		<h6>Solo exhibition at <a target="bikini" href="hhttp://www.bikiniwax.mx/alejandra-avil-s.html">Bikini Wax,</a> Mexico City, MX.</h6>
		<h6>May 28, 2015 - June 19 2015.<br>
		<h6>Photography by Ramiro Chavez, courtesy of Bikini Wax.<br>
		<h6>Supported by FONCA.</h6>
	</div>
</article>

