---
directory_index: false
---

<div id="main" class="container-estrecho section">

	<iframe width="853" height="480" src="http://www.youtube.com/embed/m-KLJSge7-Y?rel=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>

	<h2>-<br>Registro de la exposición PARADISE</h2>

	<h3>Curaduría por Alán Sierra</h3>
	
	<h6>Fue exhibida en TRAMA Centro Especializado de Artes y Restauraci&oacute;n como parte del programa<br>de exposiciones PERSONARSE de dicho espacio. Guadalajara, M&eacute;xico, septiembre 2012. </h6>

</div>



