---
section: "work"
---
<div class="ficha">
	<h6><b>Sentido inverso, 2011</b></h6>
	<h6>Back canvas.</h6>
	<h6>Dimensions: 300 x 250 x 100 cm.</h6>
</div>
<div class="project-nav">
	<a class="prev" href="/corte-amplificado">
		<h1><i class="fa fa-chevron-left" aria-hidden="true"></i></h1>
	</a>
	<a class="grid" href="/">
		<h1><i class="fa fa-th" aria-hidden="true"></i></h1>
	</a>
	<a class="next" href="/pink">
		<h1><i class="fa fa-chevron-right" aria-hidden="true"></i></h1>
	</a>
</div>
<img src="/images/sentido-inverso/1.jpg" />	
<img src="/images/sentido-inverso/3.jpg" />
<article>
	<div class="article-footer">
		<h6>Solo exhibition at the House of Culture of Hermosillo, Sonora, MX.</h6>
		<h6>November 3, 2011 - January 31 2012.</h6>
		<h6>Supported by FECAS.</h6>	
	</div>
</article>