---
section: "work"
---
<div class="ficha">
	<h6><b>Silver curves, 2016</b></h6>
	<h6>Silver Necklace.</h6>
	<h6>Dimensions: 50 cm (straight).</h6>
</div>
<div class="project-nav">
	<a class="prev" href="/con-v-de-vuelta">
		<h1><i class="fa fa-chevron-left" aria-hidden="true"></i></h1>
	</a>
	<a class="grid" href="/">
		<h1><i class="fa fa-th" aria-hidden="true"></i></h1>
	</a>
	<a class="next" href="/americana">
		<h1><i class="fa fa-chevron-right" aria-hidden="true"></i></h1>
	</a>
</div>
<img src="/images/silver-curves/3.jpg" />
<img src="/images/silver-curves/1.jpg" />
<article>
	<p>I put a silver necklace in the edge of an exhibition wall. It was a single day exhibition but my intervention didn’t last that long, as fastest I got distracted, the silver curve was gone. I’m not sure if necklace was stolen by someone in the public or if the snake slip away.</p>
	<div class="article-footer">
		<h6>Saas-Fee Summer Institute of Art.</h6>	
		<h6>Kunsverein Rosa Luxemburg Platz, Berlin, DE.</h6>	
	</div>
</article>