---
section: "text"
---
<div class="text">
	<header>
		<h2>Oscurana, lo animal y lo humano,<br>
		por Sandra Sánchez</h2>
		<h6>Publicado online en <a target="target" href="http://gastv.mx/opinion-oscurana-lo-animal-y-lo-humano/">GASTV</a>. Junio, 2015.</h6>
	</header>
	<article>
	<div class="quote">
		<p>Volver inoperante la máquina que gobierna nuestra concepción de hombre significaría,<br>por lo tanto, ya no buscar nuevas articulaciones —más eficaces o más auténticas—<br>sino exhibir el vacío central, el hiato que separa —en el hombre—<br>el hombre y el animal, arriesgarse en este vacío…<br>G. AGAMBEN</p>
	</div>
	<p>Todo terminó con la historia de Lil Bub, el gato. Ojos grandes, gestos tiernos y bigotudos, boca pequeña, rayas perfectas. En Facebook es figura pública, se presenta en conferencias y el dinero recaudado es donado a un fondo “for special needs pets”.</p>
	<p>P. fue quien me habló de Lil Bub. Un tanto asqueado, pero sonriente, describía las semejanzas que encontraba entre la espectacularidad de figuras públicas y la forma en la que muchos humanos tratan a sus animales. Adam Sandler de por medio. Hace poco leí que un editor preguntaba a un crítico si un conversatorio podía suplir a un texto “impreso”, ¡por supuesto que no!, la dinámica de la conversación, su contingencia en opinión, no busca generar absolutos históricos, sino detonar, en quien escucha, pensamientos propios, traer al frente la memoria empolvada, teniendo como referente ningún libro o setecientos setenta y siete.</p>

	<p>Fue en el flujo de la conversación divagante con P. que recordé dos cosas, primero la cantidad de contactos que tengo en Fb con gatos y la necesidad recurrente de antropomorfizar a sus mascotas, como si fueran bebés —hasta el momento no he encontrado una fotografía en donde se trate a un gato como a un anciano—. También apareció Deleuze con su suéter morado, respondiendo una entrevista en forma de abecedario, donde la letra “A” lo invitaba a hablar sobre lo animal: “las personas a las que les gustan verdaderamente los perros y los gatos tienen una relación con los perros y los gatos que no es humana […] lo importante es tener una relación animal con el animal, ¿qué es tener una relación animal con el animal? No es hablar con él, en todo caso”.</p>

	<p><b>Normatividad, fotos de gatos y buena voluntad</b></p>

	<div class="quote">
		<p>“Bajamos de la sierra al desierto para desmontarlo a pulso.<br>
		Durante el día, no corría nada de viento<br>
		y durante la noche, la oscuridad más negra de todas.<br>
		Entonces poníamos latas con petróleo en cada pata del catre<br>
		para ahogar a las alimañas en medio de la nada.<br>
		Por eso me gusta el olor a petróleo.”</p>
	</div>
	<p>El texto es una copia de la hoja de sala de la exposición <a href="/-oscurana">Oscurana</a>, de Alejandra Avilés, en Biquini Wax. Sobre el muro que divide el segundo piso de las escaleras hay una cobija bordada en la que se lee: “San Jorge Bendito amarra a tus animalitos con un cordón bendito”; la frase está cortada en grupos de tres letras, todas en mayúsculas, formando una columna. En las paredes, un cuadro a blanco y negro con la fotografía de dos órganos en el desierto; también las cabezas de jitomates que de tan secas evocan la rigidez de las patas de una alimaña preparada para atacar.  Al fondo, el cuarto lleno de humedad, con las ventanas tapadas y un ligerísimo olor a petróleo.</p>
	<p>En el centro de la habitación cuatro frascos transparentes, todos vivos. Iluminados, cálidos y casi cenitales. Medianos, guardan, regularmente, cosas de cocina, del hogar; al frente uno conteniendo a una tarántula, que tiene a lado a una víbora, resguardada por un escorpión, que tiene a lado un ciempiés. Sobre los cuatro frascos una cama sin colchón, sólo su base de madera vieja. Qué tentación acostarse, y escuchar los frascos quebrarse, y caer sobre los que, en la mejor de las suertes, vivirían para atacar.</p>
	<p>De los animales, sólo el ciempiés puede provocar la muerte.</p>

	<div class="center">
		<h2>*</h2>
	</div>

	<p>Existen múltiples teorías que se van renovando con el paso de la historia. Esas teorías hablan sobre las diferencias entre el humano y el animal. Una de las más populares dicta que el hombre es un animal político. Si bien ahora podemos pensar en otros binomios que pueden espejear lo humano, como la economía o la máquina, habría que pensar lo que tiene en común la economía, la máquina y el animal. Entonces vamos a hablar aquí de lo animal como ese ser vivo que se mueve pero que no es humano y de lo humano como ese ser vivo que no se subsume a su definición de diccionario. Lo humano, como palabra y como entidad, se construye a partir de las diferencias, de lo que no es, principalmente de su distancia con lo animal.</p>


	<p>Lil Bub reduce la distancia de lo animal y lo humano, buscando homogeneidad. Lil Bub es parte de la familia, es un nombre propio, pero no se necesita leer un solo libro para percatarse que Lil Bub no construye un mundo, al menos no con el lenguaje que utilizamos los humanos para designar, señalar, abrir y habitar. Lil Bub no tiene una historia de la técnica, sin embargo, se violenta su animalidad (cerrada, enigmática, narrable), para imponerle nuestros más grandes anhelos: perfección, sumisión, postura contemplativa, adorno en muro de Fb, imagen que refleja la buena conciencia. Lil Bub te hace más bello.</p>


	<p>Si anulamos la distancia, ¿a partir de qué diferencia va a aparecer lo humano?</p>


	<p>Está este libro titulado Lo abierto, lo escribió Giorgio Agamben. La historia que cuenta es justo sobre la relación que los humanos han tenido con lo animal, el modo en que se han pautado las diferencias. Aclaro, no con los animales, lo animal no es particular, no se trata de distinguir entre garrapatas y panteras, no es biólogo; más bien le interesan las formas de vida, de la vida de lo humano y de la vida de lo animal. ¿O a poco usted sí tiene bien bien claro qué es lo humano? ¿o a poco usted cree en el buen salvaje y en la violencia como algo que puede erradicarse completamente? Las creencias son también historia.</p>


	<p>La historia que cuenta Agamben es larga, pero aquí estamos en un blog, no en la biblioteca, con libro en mano, así que no se vale jugar al Pierre Menard. Por lo tanto, sólo citaré un fragmento, del capítulo 17, “Antropogenesis”, para ver si desde ahí podemos seguir hablando de Oscurana y de las alimañas que viven en la pieza de Alejandra:</p>


	<p>1) La antropogénesis es aquello que resulta de la cesura y de la articulación entre lo humano y lo animal. Esta cesura se da ante todo en el interior del hombre.</p>


	<p>2) La ontología o filosofía primera no es una inocua disciplina académica, sino la operación en todo sentido fundamental en la que se lleva a cabo la antropogénesis, el devenir humano de lo viviente.</p>


	<p>3) El conflicto político decisivo que gobierna todo otro conflicto es, en nuestra cultura, el conflicto entre la animalidad y la humanidad del hombre. La política occidental es, pues, co-originariamente biopolítica.</p>


	<p>Antes, en el capítulo anterior, “Animalización” dice que “la única tarea que todavía parece conservar alguna seriedad es el tomar a cargo y realizar la “gestión integral” de la vida biológica, es decir de la propia animalidad del hombre.</p>

	<div class="center">
		<h2>*</h2>
	</div>

	<p>Abundan los textos apocalípticos sobre el fin de lo humano. Habría que matizar, que generalmente se trata de lo humano como concepto; en la red carpet ha habido hijos Dios, herederos de Prometeo, yo, sujeto kantiano, dasain y demás contenedores que utilizamos para autodefinirnos. El arte contemporáneo tiene la capacidad, como todo arte, de posibilitar otras historias, a partir de su muy específica y singular materialidad. Lo “contemporáneo” del arte actual viene, quizá, del momento de autoconciencia que ejecuta; es decir, de la intención explícita de trabajar sobre una narrativa específica, para darle una vuelta de tuerca. Sí, hay algo que se queda en la experiencia de quien la mira la pieza, pero también hay otro momento, el de relato y construcción de lo común. Ese momento cuestiona a la policía; a la norma que controla la animalidad de los cuerpos. En una de esas, ponemos en duda, si realmente Lil Bub nos hace más bellos.</p>
	<p>Fue entonces cuando surgió la primera pregunta, la pregunta por la palabra con la que se anuncia la exposición.
	</p>

<div class="interview">
	<h3>¿De dónde viene la palabra Oscurana? ¿quiénes son los Vencedores del Desierto?</h3>

	<p>Alejandra: La historia de Sonora nombra a Álvaro Obregón, Plutarco Elías Calles, Victoriano Huerta como los vencedores del desierto. Los tres mezclaron su carácter empresarial con política, los tres fueron presidentes de la nación y personajes de la Revolución Mexicana, de hecho ellos la llamaban La revolución verde. Por que transformaron el valle del mayo y el valle del Yaqui en campos agrícolas.</p>


	<p>Ahí es donde entra la historia de mis abuelos, que bajaron de la sierra al desierto para convertirlo en estos campos agrícolas. Los atraían dándoles tierras, trabajo y ellos las tenían que desmontar a mano. Imagínate tumbar un sahuaro, una pitaya a mano. Entonces vivían en mucha precariedad y el peligro latente de picaduras de animales. Por eso para mi los verdaderos vencedores del desierto son los que lo tumbaron sin maquinaria, no los que lo mandaron tumbar.</p>


	<p>La palabra “Oscurana” no se de donde es originaría, pero la usamos mucho en Sonora. Es una palabra vieja para describir el momento de oscuridad más denso. Cuando llegaron al desierto no tenían agua ni luz, entonces la noche era la más noche de todas las noches. Mi tía me dijo que era como una oscuridad de pecho. Yo creo que por que esta relacionada con la planicie y la intemperie, con el espacio que no puedes ver pero de alguna manera lo sientes a partir del cuerpo o los sentidos. En la oscurana las arañas ni cuentan.</p>
</div>

<div class="interview">
	<h3>La noche la más noche y su fragilidad y la cama… también escuché que los frascos con los animales que están soportando la cama, atrapados, pero acechantes, espejean los botes de petróleo que ponían en Sonora en las patas de la cama para dormir y alejar a las alimañas. Desde esta imagen, dos preguntas. ¿cuánta gente bajó de la Sierra? no es pregunta demográfica con números precisos, sólo que no en encuentro una imagen para concebir el número de personas por cantidad de animales, por espacio, me parece. ¿Fueron varias bajadas de la Sierra? Luego otra cosa, hay una relación con lo animal que lo aleja de la domesticación, que fue lo que más me llamó de la pieza. Una serie de fuerzas. La de lo animal frente a lo humano, la de lo humano frente a la sobrevivencia, la de la historia que borra a los particulares, ¿cómo crees tú que se imbrican esas esferas? ¿Tendría algo que ver con la forma en que resolviste la pieza? Incluso el petróleo y la iluminación?</h3>


	<p>Alejandra: Voy a cambiarles los focos y te respondo. Los botes de petróleo en las camas / regar con petróleo alrededor de la casa / sacar las camas de la casa todas las noches por el calor / dormir con boas en la cama con fines de protección.</p>


	<p>Para mí, retomar la manera en que se duerme, es hablar del habitar el desierto. Me interesa trabajar con la cama por que al dormir es cuando más vulnerables quedamos. Las patas de la cama significan para mí, uno, protección mediante la altura, y dos, cuando el hombre se eleva sobre lo terrenal, como una forma de decirle a la tierra: “Yo ya no te pertenezco, estoy sobre de ti”.</p>

	<p>Con esto último me alejo de una visión “tarzaniana” en donde nos mimetizamos con la naturaleza, para mí sería importante resaltar la relación conflictiva y la dificultad por sentirnos parte de.</p>
</div>

	<div class="interview">
		<h3>¿Cómo crees tu que se imbrican esas esferas? ¿Tendría algo que ver con la forma en que resolviste la pieza? ¿Incluso el petróleo y la iluminación?</h3>

		<p>Los frascos tienen que ver con un juego de niños. Si te encuentras una alimaña como el ciempiés la hechas en frascos, como que las contienes y las puedes seguir viendo.</p>

		<p>Mi abuela ponía latas de sardina (ya vacías) con petróleo y aún así encontraban víboras enrolladas debajo de la cama. Ojo: Acababan de desmontar por eso todas estas relaciones era mucho más acentuadas y exageradas.</p>

		<p>La forma en que resolví la pieza traduce/mezcla varias de estas ideas o anécdotas.</p>
	</div>

	<div class="interview">
		<h3>¿Cuánta gente bajó de la Sierra? ¿Fueron varias bajadas de la Sierra?</h3>

		<p>Fueron muchas familias por eso no me preocupa hacer referencia abierta a la mía. Básicamente se pobló la parte litoral de Sonora que va desde Guaymas, Obregón, Navojoa, Huatabampo hasta Sinaloa.</p>

		<p>El desmontar como acto que altera el ecosistema, el destruir para progresar, el migrar para progresar.</p>
	</div>

	<div class="interview">
		<h3>Ahora, las cuatro paredes de Biquini Wax, con goteras y lo que sea, pero cuatro paredes al fin, protegen la cama, protegen los frascos, ¿qué protege el arte contemporáneo o de qué se protege?</h3>

		<p>Las cuatro paredes son importantes por que nos sitúan en lo doméstico.</p>
	</div>

	<div class="center">
		<h2>*</h2>
	</div>
		<p>La exposición duraba un mes hasta el 30 de junio, pero la vida es canija, hay mucho movimiento, y entre otras situaciones, acabó antes porque el escorpión tuvo crías. Y quizá, así como el arte abre mundo, en su constante construcción, lo humano también se vaya abriendo, cerca del escorpión o de Lil Bub. No.</p>
	</div>
</article>


<!-- <div class="section-foot">
	<h6><a href="http://gastv.mx/opinion-oscurana-lo-animal-y-lo-humano/" target="target" ><i class="fa fa-external-link"></i> Oscurana, lo animal y lo humano. Opinión por Sandra Sánchez. GASTV. Junio 2015.</a></h6>
</div> -->

