---
section: "text"
---

<article>
	<header>
		<h2>Hacia la intemperie,<br>por María Fernanda Camarena</h2>
		<h6>Texto publicado en la edición impresa de Harper's Bazaar Art Mexico. 2015.</h6>
	</header>
	<p>En el siglo XX los pobladores de la montaña bajaron al valle para aplanar las tierras del desierto de Sonora en el norte de México. Convirtieron los terrenos inhóspitos en campos agrícolas. La familia de Alejandra Avilés se asentó en las tierras recién reclamadas, y aunque actualmente vive y trabaja en Barcelona, la esencia de su trabajo estudia la relación vital entre el aquel paisaje y quienes lo habitaron.</p>

	<p>El desierto es hostil, pero atrayente y muchos artistas han llevado ahí su obra, cada uno con intenciones diferentes. En los setenta, atraído por el vacío y la extensión de las tierras, el escultor norteamericano Donal Judd se retiró de la bulliciosa Nueva York a un pueblo en medio del desierto Texano: Marfa, donde ahora descansan sus obras más representativas. Con una intención muy distinta Andrea Zittel creó el Wagon Station Encampment en medio del desierto de Mojave en California, un cruce entre el retiro, una residencia y un campamento. Con cápsulas para refugiarse diseñadas por la artista, dos veces al año acuden visitantes de todo el mundo a vivir la experiencia del habitar el desierto, cada uno con una búsqueda distinta.</p>

	<p>La aproximación de Alejandra al paisaje desértico no es solamente contemplativa, su práctica revive los mecanismos de protección que se activan cuando hacemos frente al peligro que éste representa. <a href="/-fake-coralillo"><em>Falsa Coralillo</em></a> es una acción en la que la artista se pasea por el desierto dentro de un traje de felpa decorado con los mismos anillos que adornan a las serpientes de este tipo; las falsas corrillo no son venenosas, pero adoptan colores similares a las letales originales para alejar a los depredadores y mantenerse con vida.</p>

	<p>Franciscanos y Jesuitas evangelizaron el desierto de Sonora; las tribus que ahí habitaban dormían sobre la tierra, pero los recién llegados siguieron sus costumbre y construyeron camas. Para Alejandra la cama es un gesto doméstico que refleja la resistencia del hombre a reconocerse como parte de la naturaleza, un simple gesto de desapego que nos separa de los animales, de lo animal.</p>

	<p>En su instalación <a href="/-oscurana"><em>Oscurana</em></a>, las alimañas yacen justo debajo de cada uno de los postes de la cama para ser contempladas dentro de los frascos de cristal, con un movimiento todo de viene abajo y el peligro queda suelto. Cuando Avilés construyó la plataforma de madera en <a href="/-hacia-la-intemperie"><em>Hacia la intemperie</em></a> para poder pasar una noche a salvo en el desierto, su deseo era experimentar la noche. El momento de oscuridad más intenso donde se funde la tierra con el cielo y sentimos la inmensidad que nos rodea, una experiencia entre el asombro y el horror, en términos kantianos: lo sublime.</p>

	<p>Alejandra tiene en su archivo en Atlas de Sonora de Julio César Montané Martí. El autor dedica la página de animales venenosos a los niños, advirtiéndoles de los peligros que representan muchos animales comunes en esa región de México. La animalidad que se esconde detrás de lo humano no tiene solamente que ver con lo violento o lo salvaje, es también un gesto de inocencia que nos coloca frente a frente con aquellas criaturas que hemos intentado dominar.</p>
</article>