---
section: "text"
---

<div class="columns">
	<div class="col col-6">
		<div class="item-text">
			<a href="text-oscurana">
				<h2>Oscurana, lo animal y lo humano,<br>
				Sandra Sánchez</h2>
				<h5>Gastv México, 2015.</h5>
				<p>Existen múltiples teorías que se van renovando con el paso de la historia. Esas teorías hablan sobre las diferencias entre el humano y el animal. Una de las más populares dicta que el hombre es un animal político. Si bien ahora podemos pensar en otros binomios que pueden espejear lo humano, como la economía o la máquina, habría que pensar lo que tiene en común la economía, la máquina y el animal. Entonces vamos a hablar aquí de lo animal como ese ser vivo que se mueve pero que no es humano y de lo humano como ese ser vivo que no se subsume a su definición de diccionario. Lo humano, como palabra y como entidad, se construye a partir de las diferencias, de lo que no es, principalmente de su distancia con lo animal. <h6>[continuar leyendo...]</h6></p>
			</a>
		</div>
		<div class="item-text">
			<a href="/text-la-misma-fruta">
				<h2>La misma fruta,<br>Alán Sierra</h2>
				<h5>Paradise exhibition, 2012.</h5>
				<p>Por alguna raz&oacute;n hemos relacionado el conocimiento a una serie de actividades intelectuales que nos separan con elegancia de la naturaleza salvaje. Tanto la lectoescritura como las herramientas cl&aacute;sicas del aprendizaje complacen sentidos mayores, la vista y el o&iacute;do, estructuras finas que se valen de la luz y el viento para recibir informaci&oacute;n. <h6>[continuar leyendo...]</h6></p>
			</a>
		</div>
	</div>
	<div class="col col-6">
		<div class="item-text">
			<a href="/text-hacia-la-intemperie">
				<h2>Hacia la intemperie,<br>María Fernanda Camarena</h2>
				<h5>Harper's Bazaar Art Mexico, 2015.</h5>
				<p>En el siglo XX los pobladores de la montaña bajaron al valle para aplanar las tierras del desierto de Sonora en el norte de México. Convirtieron los terrenos inhóspitos en campos agrícolas. La familia de Alejandra Avilés se asentó en las tierras recién reclamadas, y aunque actualmente vive y trabaja en Barcelona, la esencia de su trabajo estudia la relación vital entre el aquel paisaje y quienes lo habitaron. <h6>[continuar leyendo...]</h6></p>
			</a>
		</div>
		<div class="item-text">
			<a href="/text-when-we-are-strange">
				<h2>When we are strange,<br>Aldo Guerra</h2>
				<h5>Sentido inverso, 2011.</h5>
				<p>A ella no la caracteriza la ingenuidad. Digamos que tiene m&aacute;s bien una suerte de inclinaci&oacute;n por lo inquietante y ha puesto ante nosotros lo que considero son hallazgos de su propia traici&oacute;n. Me explico. Hintikka, un especialista en l&oacute;gica, dec&iacute;a:<em> &quot;Toda percepci&oacute;n o conocimiento es una respuesta a una pregunta expresa o t&aacute;cita.&quot;</em> Esto es, somos activos participantes de todo lo que vemos, encontramos, escuchamos o entendemos, y traidora es la mente que nos hace creer en la independencia de lo percibido. Veamos entonces. <h6>[continuar leyendo...]</h6></p>
			</a>
		</div>
	</div>
</div>
<h6><em>**English translations would be available soon**</em></h6>