<h2>La barbarie</h2>
<h5>Alejandra Avilés 2015</h5>

<p>Para mi no hay nada más civilizado que matar una vaca. Los hombres rompen los huesos, las mujeres pelan los ajos.</p>

<p>Una vez destazada, deberás colgarla en el porche y dormir junto a ella para que los perros no se le acerquen. Los filetes más sabrosos se usarán para una carne asada, los no tanto, se pondrán en salmuera a secar en el tendedero para hacer la machaca. Quitarle la piel a la cabeza de una vaca es muy aparatoso, pero vale la pena para la preparación de  los tacos de cabeza, deberás hervir la cabeza en una olla, el cráneo se saca cuando la carne ya se está desprendiendo con naturalidad. Los ojos se dejan para el más valiente, la lengua para los más afortunados. Los dentros junto con la sangre se usarán para rellenar la especie de bolsa que se forma con la membrana del estómago, una vez rellena, se amarrará con las tripas y se hervirá para obtener algo parecido a la moringa. Los huesos son lo más preciado, éstos se pasarán una y otra vez, de casa en casa, de hermana a hermana, para hacer más de un solo caldo.</p>

<p>Es éste esfuerzo físico lo que te permite ser consciente de lo que te estás metiendo a la boca. Por lo menos no seremos ajenos, por lo menos sabremos de dónde viene esa sustancia roja. La sangre la absorberá la tierra, no ese “kotex” que le ponen a las charolas de unicel en el súper. Entiendo que parecería más civilizada la cobardía, como la gran sofisticación de los cubiertos, éstas refinadas extensiones de las manos diseñadas para obtener lo que necesitamos sin siquiera concederle el derecho de ser tocado.</p>











