<h2>Hacia la intemperie</h2>
<h5>Alejandra Avilés 2013</h5>

<p>Una amiga pasó tres días en soledad, sin tomar agua, ni consumir alimentos. No había nada más que ella y el desierto. Ésta historia me hizo pensar en las necesidades fisiológicas del cuerpo, en la ausencia de protección y en cómo fue que los primeros seres humanos se enfrentaron a la intemperie.</p>

<p><em>Hacia la intemperie,</em> busca generar cuerpos de instalación que reflexionen sobre cómo el hombre ha manipulado el espacio a lo largo del tiempo para cubrir la necesidad primigenia de protección.</p>

<p>Deseo abordar cómo los materiales utilizados actualmente conviven con mecanismos de protección que existen desde hace miles de años. Me valdré de recursos de nuestro presente y las preocupaciones básicas que aún preservamos, para hablar de un nivel de complejidad intangible dentro de esta evolución continua, que dicta dinámicas personales y sociales.</p>


<p>Los materiales con los que construimos, obedecen a una dinámica de aprecio excesivo por la innovación, en busca de alejarnos de un estilo de vida primitivo.<em> ¿Es que acaso las grandes ciudades superan a la rueda, pieza arcaica que prevalece como forma básica para el movimiento?</em>.</p>

<p>Éste proyecto es un camino de regreso a la intemperie, remontándome a un tiempo y espacio que sólo existe en nuestra imaginación, hacia el origen de lo que somos hoy en día, habitantes del mundo natural al cual pertenecemos y constructores de diversos métodos para convivir con nuestra vulnerabilidad.</p>
