---
section: "webdesign"
---
<div class="webdesign">
	<div class="logo-alecamp">
	  <a target="alecamp" href="http://alecamp.com/"><h2>Websites by Ale<em>camp</em></h2></a>
	</div>
	<section>
		<p>I started building websites for friends in 2014.<br>
		All my websites include, web design, programing and free hosting.<br>For pricing and more info contact me: alehandra.aviles@gmail.com</p>
	</section>
	<div class="item-webdesign">
		<a target="external" href="http://campoderelampagos.org/">http://campoderelampagos.org/</a>
	</div>
	<div class="item-webdesign">
		<a target="external" href="http://hugolugo.link/">http://hugolugo.link/</a>
	</div>
	<div class="item-webdesign">
		<a target="external" href="http://cynthiagutierrez.com/">http://cynthiagutierrez.com/</a>
	</div>
	<div class="item-webdesign">
		<a target="external" href="http://juancarloscoppel.com/">http://juancarloscoppel.com/</a>
	</div>
	<div class="item-webdesign">
		<a target="external" href="http://miriamsalado.com/">http://miriamsalado.com/</a>
	</div>
	<div class="item-webdesign">
		<a target="external" href="http://emanueltovar.com/">http://emanueltovar.com/</a>
	</div>
	<div class="item-webdesign">
		<a target="external" href="http://www.carlosivanhernandez.mx/">http://www.carlosivanhernandez.mx/</a>
	</div>
	<div class="item-webdesign">
		<a target="external" href="http://ethelcooke.com/">http://ethelcooke.com/</a>
	</div>
	<div class="item-webdesign">
		<a target="external" href="http://mariajosesesma.com/">http://mariajosesesma.com/</a>
	</div>
	<div class="item-webdesign">
		<a target="external" href="http://alecamp.com/">Full portafolio ↗</a>
	</div>
</div>