.news {
	padding-bottom: 20px;
	margin-bottom: 65px;
	font-family: "pragmatica-web";
	h2 {
		font-weight: 600;
		font-size: 1em;
		padding-bottom: 10px;
	}
	h3 { font-size: 1em;
		padding-bottom: 20px;
		font-weight: 300;
	}
	h4 {
		padding-bottom: 20px;
	}
	img {
		border: 1px solid blue;
	}

}

.date {
	border-bottom: 3px solid black;
	margin-bottom:35px;
	text-align: center;
	text-transform: uppercase;

	h6 {letter-spacing: 2px;}
}